﻿@using System.Web
@using Blog.Utilities.Convertor
@using Blog.Utilities.String
@using Microsoft.AspNetCore.Server.Kestrel.Core.Internal.Http
@using Microsoft.CodeAnalysis.CSharp
@model Blog.ViewModels.Post.ViewPostViewModel
@{
    ViewData["Title"] = "Новини";
    Layout = "_Layout";
}

<div class="col-12 col-lg-8 main-side">
    <h5 class="pl-2">@Model.Post.Title</h5>
    <div class="mb-5">
        <img src="~/PostImages/@Model.Post.ImageName" style="min-width:100%;" class="img-fluid mb-3" alt="img">
        <small class="text-muted border-right pr-4">
            <i class="fas fa-comment mr-1"></i>Коментари:@if (Model.Comments != null)
            {@Model.Comments.Count}
        </small>
        <a href="https://www.facebook.com/sharer/sharer.php?u=http://pirinskabundesliga.com/ShowPost/@Model.Post.PostId" class="px-4 py-1 bg-primary text-white ml-lg-4"><i class="fab fa-facebook-f"></i></a>
        <a href="https://twitter.com/share?ref_src=twsrc%5Etfw" class="px-4 py-1 bg-info text-white mx-2" data-show-count="false" charset="utf-8"><i class="fab fa-twitter"></i></a>
        @*<a href="#" class="px-4 py-1 bg-danger text-white">share</a>*@
    </div>

    <p>
        @Html.Raw(Model.Post.ShortDesc)
    </p>
    <hr class="my-5" />
    <p>
        @Html.Raw(Model.Post.Description)
    </p>
    <div class="my-5 d-flex justify-content-between align-items-center">
        <a asp-area="" asp-controller="Post" asp-action="NextPost" asp-route-id="@Model.Post.PostId" class="text-dark"><i class="fas fa-arrow-left text-success mr-2"></i><strong>Предишна новина</strong></a>
        <a asp-area="" asp-controller="Post" asp-action="PreviosPost" asp-route-id="@Model.Post.PostId" class="text-dark"><strong>Следваща новина</strong><i class="fas fa-arrow-right text-success ml-2"></i></a>
    </div>
    @if (Model.Comments != null)
    {
        <hr class="my-5">
        <h5 class="border-0 d-block text-center mb-4">@Model.Comments.Count Коментари </h5>

        @foreach (var parent in Model.Comments.Where(p => p.ParentId == null))
        {
            <div class="d-flex align-items-center">
                <img src="~/HomeStyle/img/businessman.png" class="img-fluid mr-2 align-self-start" alt="icon">
               
                <div>
                    <strong class="d-block">@parent.Name</strong>
                    <small class="text-muted d-block mb-2"> @parent.CreateDate</small>
                    <p class="mb-0">
                        @parent.CommentText
                        <a class="float-right" style="cursor:pointer;" onclick="answerComment(@parent.CommentId)">
                            <i class="fas fa-reply text-success"></i>
                        </a>
                    </p>
                </div>
            </div>
            @foreach (var child in Model.Comments.Where(c => c.ParentId == parent.CommentId))
            {
                <hr class="my-3">
                <div class="d-flex align-items-center ml-lg-5 mt-3">
                    @*<span><i class="fas fa-reply text-success"></i></span>*@
                    <img src="~/HomeStyle/img/businessman.png" class="img-fluid mr-2 align-self-start" alt="icon">
                    <div>
                        <strong class="d-block"> @child.Name </strong>
                        <small class="text-muted d-block mb-2"> @child.CreateDate </small>
                        <p class="mb-0"> @child.CommentText</p>
                    </div>
                </div>
            }
            <hr />
        }

    }
    @if (ViewBag.CommentStatus != null && ViewBag.CommentStatus == true)
    {
        <div class="alert alert-success">
            <p>Благодарим Ви за Коментари!</p>
        </div>
    }
    @if (ViewBag.CommentStatus != null && ViewBag.CommentStatus == false)
    {
        <div class="alert alert-danger">
            <p>Error</p>
        </div>
    }
    <div class="my-5">
        <h5 class="border-0 mb-0">остави коментар</h5>
        <small>
            @*At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium.*@
        </small>

        <form asp-controller="post" asp-action="CreateComment" method="post" class="mt-3">
            <input name="PostId" value="@Model.Post.PostId" type="hidden">
            <input id="commentParentId" name="ParentId" type="hidden">
            <div class="row">
                <div class="form-group col-12 col-lg-6">
                    <input id="commentName" type="text" placeholder="Име *" name="Name" class="form-control">
                </div>
                <div class="form-group col-12 col-lg-6">
                    <input type="text" name="Email" placeholder="E-mail адрес *" class="form-control">
                </div>
                <div class="form-group col-12">
                    <input type="text" name="Subject" placeholder="Заглавие *" class="form-control">
                </div>
                <div class="form-group col-12">
                    <textarea name="CommentText" id="" cols="30" rows="10" class="form-control"></textarea>
                </div>
            </div>

            <div class="d-block text-center">
                <button href="#" class="btn btn-success px-5">Публикувай</button>
            </div>
        </form>
    </div>
</div>


@section Scripts
    {
    <script language="javascript">
        function answerComment(commentId) {
            $("#commentParentId").val(commentId);
            $("#commentName").focus();
        }
    </script>

}
