﻿@model Blog.DomainClasses.schedules.schedules

@{
    ViewData["Title"] = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>schedules</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li class="breadcrumb-item active">schedules</li>
                    </ol>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>
    <section class="content">
        <div class="container-fluid">
            <div class="card card-primary card-outline">
                <div class="card-body box-profile">
                    <ul class="list-group list-group-unbordered mb-3">
                        <li class="list-group-item">
                            <b>
                                Home Team
                            </b> <a class="float-right">
                                @Html.DisplayFor(model => model.HomeTeams.Name)
                            </a>
                        </li>
                        <li class="list-group-item">
                            <b>
                                Away Team
                            </b> <a class="float-right">
                                @Html.DisplayFor(model => model.AwayTeams.Name)
                            </a>
                        </li>
                        <li class="list-group-item">
                            <b>
                                @Html.DisplayNameFor(model => model.MatchDay)
                            </b> <a class="float-right">
                                @Html.DisplayFor(model => model.MatchDay)

                            </a>
                        </li>
                    </ul>
                    <div>
                        <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-warning btn-block">Edit</a>
                        <a class="btn btn-primary btn-block" asp-action="Index">Back to List</a>
                    </div>
                </div>
            </div>
            <!-- /.card-body -->
        </div>
    </section>
</div>
