﻿@model Blog.DomainClasses.Option.Option
<div class="row">
    @if (Model.BetWeenBannerImage != null)
    {
        <div class="col-12">
            <img src="~/SettingImages/@Model.BetWeenBannerImage" style="width:728px;height:90px;" class="img-fluid" alt="">
        </div>
    }
    @if (Model.BetWeenBannerCode != null)
    {
        <div class="col-12">
            @Html.Raw(Model.BetWeenBannerCode)
        </div>
    }
</div>
