﻿@model Blog.DomainClasses.Option.Option
<header>
    <nav class="navbar navbar-expand-lg navbar-dark py-lg-3">
        <div class="container">
            <a class="navbar-brand" style="width: 44%;" href="#">
                <img src="~/HomeStyle/img/Layer 2.png" style="width: 48%;" class="img-fluid" alt="">
            </a>
            <a class="btn text-white d-lg-none" href="#collapse" data-toggle="collapse">
                <i class="fas fa-search"></i>
            </a>
            <div class="container d-lg-none">
                <div class="row">
                    <div class="col-12">
                        <div class="collapse" id="collapse">
                            <form action="">
                                <input type="text" class="form-control rounded-0" placeholder="search...">
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto nav-header text-center">
                    <li class="nav-item">
                        <a class="nav-link" href="/">новини</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/Gallery">галерия</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-controller="Search" asp-action="OtherCats" asp-route-name="Football">други спортове</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link pt-1" href="https://en.pirinskabundesliga.com">
                            <img src="~/images/L.png" alt="Bg" width="35" />
                        </a>
                    </li>
                    @*@await Component.InvokeAsync("ShowCategoryMenu")*@
                    <li class="nav-item">
                        <a class="nav-link" href="#search" data-toggle="modal">
                            <i class="fas fa-search"></i>
                        </a>
                    </li>

                </ul>
            </div>
            <ul class="nav mx-auto nav-header nav-header2 mt-3 d-lg-none">
                <li class="nav-item">
                    <a class="nav-link pl-0 pb-0" href="/">новини</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link pl-0 pb-0" href="/Gallery">снимки </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link pl-0 pb-0 pt-0" href="https://en.pirinskabundesliga.com">
                        <img src="~/images/L.png" alt="Bg" width="35" />
                    </a>
                </li>
                @*<li class="nav-item">
            <a class="nav-link pl-0 pb-0" href="blog-page.html">Blog Page </a>
        </li>
        <li class="nav-item">
            <a class="nav-link pl-0 pb-0" href="blog-category.html">Blog Category </a>
        </li>*@
            </ul>
        </div>
    </nav>
</header>
<div class="container">
    <div class="row">
        @if (Model.TopBannerImage != null)
        {
            <div class="col-12">
                <img src="~/SettingImages/@Model.TopBannerImage" class="img-fluid my-5" alt="">
            </div>
        }
        @if (Model.TopBannerCode != null)
        {
            <div class="col-12">
                @Html.Raw(Model.TopBannerCode)
            </div>
        }
    </div>
    <div class="row">
