
* {
   font-family: 'Roboto',sans-serif;
   text-decoration: none!important
}

input,
textarea {
   box-shadow: none !important
}

input:focus,
textarea:focus {
   border-color: #4a8b3a !important
}

input::placeholder {
   font-size: 13px
}

.nav-header li a {
   transition: .3s;
   font-size: 15px
}

.nav-header li a:hover {
   color: #4a8b3a!important
}

.navbar {
   background: #252525!important
}

.box-search {
   position: relative
}

.box-search input {
   border-radius: 10px
}

.box-search input::placeholder {
   font-weight: 300
}

.box-search button {
   position: absolute;
   right: 0;
   bottom: 0;
   background: #4a8b3a;
   border-radius: 10px;
   color: #fff!important
}

.main-side h5 {
   border-left: 3px solid #4a8b3a;
   font-weight: 600;
   font-size: 22px
}

.card-hover {
   overflow: hidden!important;
   transition: .3s
}

.card-hover2:hover,.card-hover:hover {
   box-shadow: 0 0 1rem rgba(0,0,0,.1)
}

.card-hover,.card-hover .card-img-top {
   position: relative
}

.card-hover .card-img-top .overlay-card,.card-hover2 .card-img-top .overlay-card {
   position: absolute;
   top: 0;
   left: 0;
   bottom: 0;
   right: 0;
   background: rgba(0,0,0,.7);
   opacity: 0;
   visibility: hidden;
   transition: .3s;
   display: flex;
   align-items: center;
   justify-content: center
}

.card-hover:hover .card-img-top .overlay-card {
   opacity: 1;
   visibility: visible
}

.card-hover .card-img-top .overlay-card a {
   color: #fff;
   text-align: center;
   background: #4a8b3a;
   font-size: 14px;
   text-decoration: none;
   transform: scale(0);
   transition: .3s
}

.card-hover:hover .card-img-top .overlay-card a {
   transform: scale(1)
}

.card-hover .card-body a {
   text-decoration: none;
   color: #000;
   transition: .3s;
   text-align: left !important;
   font-size: 14px
}

.card-hover .card-body .card-text a {
   font-size: 11px;
   font-weight: 600
}

.card-hover .card-footer a,.card-hover2,.side-card a {
   transition: .3s
}

.card-hover .card-footer a:hover {
   color: #4a8b3a0a!important
}

.footer,.side-card,.side-card1 {
   background: #252525
}

.side-card a {
   color: #fff;
   text-decoration: none;
   font-size: 10px;
   font-weight: 700
}

.side-card a:hover {
   background: #4a8b3a
}

.side-nav li a {
   font-size: 13px
}

.side-nav li a.active {
   background: #fff!important;
   color: #000!important;
   box-shadow: none!important
}

.cus-slider-icon {
   background: rgba(170,170,170,.658)
}

.cus-slider-icon:hover {
   color: #000!important
}

@media (min-width:768px) {
   .nav-header li:last-child {
       border-left: 1px solid #757575;
       margin-left: 10px;
       padding-left: 10px
   }
}

.nav-header li a {
   color: #fff!important
}

.slick-dots {
   display: flex;
   justify-content: center;
   margin: 0;
   list-style: none
}

.slick-dots li {
   margin: 0 .1px;
   bottom: -15px
}

.slick-dots li button {
   display: block;
   width: .5rem;
   height: .5rem;
   padding: 0;
   border-radius: 100%;
   background-color: #e2e2e2!important;
   text-indent: -9999px
}

li.slick-active button {
   transition: all .3s ease;
   background-color: #0c1946!important
}

.card-hover2 .card-img-top,.poster {
   position: relative
}

.card-hover2 .card-img-top .overlay-card {
   width: 100%;
   height: 0
}

.card-hover2:hover .card-img-top .overlay-card {
   opacity: 1;
   visibility: visible;
   height: 100%
}

.card-hover2 .card-img-top .overlay-card a {
   color: #fff;
   text-align: center;
   background: #4a8b3a;
   font-size: 14px;
   text-decoration: none
}

.card-hover2 .card-body a {
   text-decoration: none;
   color: #000;
   transition: .3s
}

.card-hover .card-body a:hover {
   color: #4a8b3a
}

.card-hover2 .card-footer a {
   transition: .3s
}

.card-hover2 .card-footer a:hover,.card-hover:hover .card-body small a {
   color: #4a8b3a!important
}

.poster .alert {
   position: absolute;
   bottom: 0;
   left: 0;
   right: 0;
   opacity: .7;
   background: #f3f6f7!important
}

.nav-header2 {
   border-top: 1px solid #8f8f8f
}

.nav-header2 li a {
   font-size: 14px!important
}

.slider22 li a.active {
   opacity: .6!important
}