﻿@using System.Web
@model Blog.DomainClasses.Option.Option
@{
    ViewData["Title"] = "Contact";
}
<div class="row mt-4">
    <div class="col-12 col-md-4 ">
        @await Component.InvokeAsync("ShowCategorySideBar")


        @await Component.InvokeAsync("ShowAuthors")
    </div>
    <div class="col-12 col-md-8 ">

        <div class="card mb-4 ">
            <div class="card-body text-primary">
                <h4>Contact Us</h4>
                <hr />
                <p>@Html.Raw(HttpUtility.HtmlDecode(Model.ContactUs))</p>
            </div>
        </div>
    </div>
</div>