﻿@using System.Web
@using Blog.Utilities.Convertor
@using Blog.Utilities.String
@model Blog.ViewModels.Post.PostInfiniteScrollViewModel
@{
    ViewData["Title"] = "Футболни Новини";
}
<link href="~/css/loading.css" rel="stylesheet" />
<div class="col-12 col-lg-8 main-side">

    @await Component.InvokeAsync("ShowSlider")
    <hr class="my-5">
    <div class="row mt-5" id="desktopMode">
        @foreach (var item in Model.Posts)
        {
            <div class="col-12 col-md-6 col-lg-4">
                <div class="card border-0 card-hover mb-3 rounded-0">
                    <div class="card-img-top">
                        <div class="overlay-card">
                            <a asp-area="" asp-controller="Post" asp-action="Index" asp-route-id="@item.PostId" asp-route-name="@item.Title.ToUrl()" class="px-4 py-2 rounded-pill">Отвори...</a>
                        </div>
                        <img src="/PostImages/@item.ImageName"
                             class="img-fluid rounded-0 card-img" alt="" style="width:233px;height:149px;">
                    </div>
                    <div class="card-body px-2 pt-2">
                        <strong>
                            <a href="#" class="card-title d-block text-justify">
                                @item.Title
                            </a>
                        </strong>
                        <small class="card-text d-block mt-3">
                            @if (item.ShortDesc.Length > 50)
                            {@Html.Raw(item.ShortDesc.Substring(0, 49))}
                        else
                        {@Html.Raw(item.ShortDesc)}<a asp-area="" asp-controller="Post" asp-action="Index" asp-route-id="@item.PostId" asp-route-name="@item.Title.ToUrl()">
                                Продължи четенето
                            </a>
                        </small>
                    </div>
                    <div class="card-footer bg-transparent border-left-0 border-right-0 border-bottom py-2 d-flex justify-content-between align-items-center px-2">
                        <small class="text-muted">
                            <i class="fas fa-comment mr-1"></i>Коментари: @if (item.Comments.Where(q => q.IsPublish == true) != null)
                            {@item.Comments.Where(q => q.IsPublish == true).Count()}
                        </small>

                        <div>

                            <small><a href="https://www.facebook.com/sharer/sharer.php?u=http://pirinskabundesliga.com/ShowPost/@item.PostId" class="text-muted"><i class="fab fa-facebook"></i></a></small>
                            <small>
                                <a href="https://www.linkedin.com/shareArticle?mini=true&url=@item.PostId&title=@item.Title&summary=@item.ShortDesc" class="text-muted mx-2">
                                    <i class="fab fa-linkedin"></i>
                                </a>
                            </small>
                            <small><a href="https://twitter.com/share?ref_src=twsrc%5Etfw" class="text-muted" data-show-count="false" charset="utf-8"><i class="fab fa-twitter"></i></a></small>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
    <div class="row mt-5" id="BetWeenBannerImage">

    </div>


    <div id="progressmarker"></div>
    <div class="loader" id="loading" style="display:none"></div>
</div>
@section scripts{
    <script>
    var pageIndex = 2; // already loaded page 1 - this is next to get
    var pages = @Model.TotalPages;
    var _incallback = false;
    var getTotalIndex = @Model.ItemPerPage * (pageIndex - 1);
    var afterLoading = (pages) - (getTotalIndex);
    $(window).scroll(function() {
        var hT = $('#progressmarker').offset().top,
            hH = $('#progressmarker').outerHeight(),
            wH = $(window).height(),
            wS = $(window).scrollTop();

        if (afterLoading >= 0 && !_incallback) {
            if (wS > (hT + hH - wH)) {
                GetData();
            }
        }
    });

    function GetData() {
        _incallback = true;
        $.ajax({
            type: 'GET',
            url: '/Home/GetPosts',
            data: {
                "pageIndex": pageIndex,
            },
            dataType: 'json',
            success: function (result) {

                if (result.success) {
                    if (result.data.posts.length <= 0) {
                        $("#loading").hide();
                        return;
                    }
                    var desktopMode = '';
                    if (result.data.option.betWeenBannerImage != null) {
                        desktopMode += `<div class="col-12">
                                                        <img src="/SettingImages/` + result.data.option.betWeenBannerImage + `style="width:728px;height:90px;" class="img-fluid" alt="">
                                                        <br /><br /></div><br /><br />`;
                        $("#desktopMode").append(desktopMode);
                    }
                    if (result.data.option.betWeenBannerCode != null) {
                        desktopMode += `<div class="col-12">
                            `+ result.data.option.betWeenBannerCode + ` <br />
                        <br /><br /></div><br /><br />`;
                        $("#desktopMode").append(desktopMode);
                    }
                    $.each(result.data.posts, function (index, value) {
                        desktopMode = '';
                        desktopMode += `<div class="col-12 col-md-6 col-lg-4">
                        <div class="card border-0 card-hover mb-3 rounded-0">
                            <div class="card-img-top">
                                <div class="overlay-card">
                                    <a href="/ShowPost/`+ value.postId + `/` + value.title.replace(/\s+/g, '-') +`" class="px-4 py-2 rounded-pill">Отвори...</a>
                                </div>
                                <img src="/PostImages/`+ value.imageName+`"
                                    style="width:233px;height:149px;"  class="img-fluid rounded-0 card-img" alt="">
                            </div>
                            <div class="card-body px-2 pt-2">
                                <strong>
                                    <a href="#" class="card-title d-block text-justify">
                                        `+value.title+`
                                    </a>
                                </strong>
                                <small class="card-text d-block mt-3">`
                        if (value.shortDesc.length > 50) {
                            desktopMode += value.shortDesc.substring(0, 49);
                        }
                        else {
                            desktopMode += value.shortDesc;
                        }

                        desktopMode += `<a href="/ShowPost/` + value.postId + `/` + value.title.replace(/\s+/g, '-') +`">
                                       Продължи четенето
                                    </a>
                                </small>
                            </div>
                            <div class="card-footer bg-transparent border-left-0 border-right-0 border-bottom py-2 d-flex justify-content-between align-items-center px-2">
                                <small class="text-muted">`;
                        var Comments = 0;
                        $.each(value.comments, function (index, value) {
                            if (value.isPublish) {
                                Comments = Comments + 1;
                            }
                        });
                        desktopMode += `<i class="fas fa-comment mr-1"></i>Коментари: ` + Comments +`
                                </small>
                                <div>
                                    <small>
                                        <a href="https://www.facebook.com/sharer/sharer.php?u=http://pirinskabundesliga.com/`+ value.postId + `/ "class="text-muted">
                                           <i class="fab fa-facebook"></i>
                                        </a>
                                    </small>
                                    <small>
                                        <a href="https://www.linkedin.com/shareArticle?mini=true&url=`+ value.postId +`&title=`+ value.title +``+ value.postId +`&summary=`+ value.shortDesc +`"class="text-muted mx-2">
                                            <i class="fab fa-linkedin"></i>
                                        </a>
                                    </small>
                                    <small><a href="https://twitter.com/share?ref_src=twsrc%5Etfw" class="text-muted" data-show-count="false" charset="utf-8"><i class="fab fa-twitter"></i></a></small>
                                </div>
                            </div>
                            </div>
                        </div>`;
                        //console.log(desktopMode)
                        $("#desktopMode").append(desktopMode);

                    });
                    pageIndex++;
                    afterLoading = (pages) - (@Model.ItemPerPage * (pageIndex));
                }

            },
            beforeSend: function () {
                $("#loading").show();
            },
            complete: function () {
                $("#loading").hide();
                _incallback = false;
            },
            error: function () {
                //alert("Error while retrieving data!");
                $("#loading").hide();
                _incallback = false;
            }
        });
    }
    </script>

}