﻿@model IndexViewModel
@{
    ViewData["Title"] = "Profile";
    Layout = "/Areas/Admin/Views/Shared/_Layout.cshtml";
    // ViewData.AddActivePage(ManageNavPages.Index);
}

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>Profile</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li class="breadcrumb-item active">Profile</li>
                    </ol>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="card col-12">
                    <div class="row mt-4">
                        <div class="col-12 col-md-12 ">
                                <div class="card card-primary">
                                    <div class="card-header">
                                        <h3 class="card-title">Profile</h3>
                                    </div>
                                    <partial name="_StatusMessage" model="Model.StatusMessage" />
                                    @*@Html.Partial("_StatusMessage", Model.StatusMessage)*@
                                    <form method="post" role="form">
                                        <div class="card-body">
                                            <div asp-validation-summary="All" class="text-danger"></div>
                                            <div class="form-group">
                                                <label asp-for="Username"></label>
                                                <input asp-for="Username" class="form-control" disabled />
                                            </div>
                                            @*<div class="form-group">
                                                <label asp-for="Email"></label>
                                                @if (Model.IsEmailConfirmed)
                                                {
                                                    <div class="input-group">
                                                        <input asp-for="Email" class="form-control" />
                                                        <span class="input-group-addon" aria-hidden="true"><span class="glyphicon glyphicon-ok text-success"></span></span>
                                                    </div>
                                                }
                                                else
                                                {
                                                    <input asp-for="Email" class="form-control" />
                                                    <button asp-action="SendVerificationEmail" class="btn btn-link">Send verification email</button>
                                                }
                                                <span asp-validation-for="Email" class="text-danger"></span>
                                            </div>*@
                                            <div class="form-group">
                                                <label asp-for="PhoneNumber"></label>
                                                <input asp-for="PhoneNumber" class="form-control" />
                                                <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                                            </div>
                                        </div>
                                        <div class="card-footer">
                                            <button type="submit" class="btn btn-primary">Save</button>
                                        </div>
                                    </form>
                                </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}
