﻿@model Blog.DomainClasses.Ranking.Ranking

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>Rankings</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li class="breadcrumb-item active">Rankings</li>
                    </ol>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>
    <section class="content">
        <div class="container-fluid">
            <div class="card card-primary card-outline">
                <div class="card-body box-profile">
                    <div class="alert alert-danger alert-dismissible">
                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                        <h5><i class="icon fas fa-ban"></i> Alert!</h5>
                        Are You Sure to delete yhis Item?
                    </div>
                    <ul class="list-group list-group-unbordered mb-3">
                        <li class="list-group-item">
                            <b>@Html.DisplayNameFor(model => model.Rank)</b> <a class="float-right"> @Html.DisplayFor(model => model.Rank)</a>
                        </li>
                        <li class="list-group-item">
                            <b>Playes</b> <a class="float-right"> @Html.DisplayFor(model => model.GF)</a>
                        </li>
                        <li class="list-group-item">
                            <b>Points</b> <a class="float-right"> @Html.DisplayFor(model => model.GD)</a>
                        </li>
                        <li class="list-group-item">
                            <b>@Html.DisplayNameFor(model => model.Teames)</b> <a class="float-right"> @Html.DisplayFor(model => model.Teames.Name)</a>
                        </li>
                    </ul>


                    <form asp-action="Delete">
                        <input type="hidden" asp-for="Id" />
                        <input type="submit" value="Delete" class="btn btn-danger btn-block" />
                        <a class="btn btn-primary btn-block" asp-action="Index">Back to List</a>
                    </form>
                </div>
            </div>
            <!-- /.card-body -->
        </div>
    </section>
</div>
