﻿@model Blog.DomainClasses.Slider.Slider

@{
    ViewData["Title"] = "New";
}

<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>Sliders</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li class="breadcrumb-item active">Sliders</li>
                    </ol>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>
    <section class="content">
        <div class="row">
            <div class="card col-12">
                <div class="row mt-4">
                    <div class="col-12 col-md-12 ">
                        <div class="card card-primary">
                            <div class="card-header">
                                <h3 class="card-title">Create</h3>
                            </div>
                            <form asp-action="Create" method="post" enctype="multipart/form-data">
                                <div class="card-body">
                                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                    <div class="form-group">
                                        <label asp-for="Title" class="control-label"></label>
                                        <input asp-for="Title" class="form-control" />
                                        <span asp-validation-for="Title" class="text-danger"></span>
                                    </div>
                                    <div class="form-group">
                                        <label asp-for="Url" class="control-label"></label>
                                        <input asp-for="Url" class="form-control" />
                                        <span asp-validation-for="Url" class="text-danger"></span>
                                    </div>
                                    <input type="file" name="imgFile" multiple />
                                </div>
                                <div class="card-footer">
                                    <input type="submit" value="Save" class="btn btn-success" />
                                    <a class="btn btn-primary" asp-action="Index">Back</a>
                                </div>
                            </form>
                        </div>
                </div>
            </div>
        </div>
</div>
    </section>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
