﻿@model Blog.DomainClasses.Slider.Slider

@{
    ViewData["Title"] = "Details";
}
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>Sliders</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li class="breadcrumb-item active">Sliders</li>
                    </ol>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>
    <section class="content">
        <div class="container-fluid">
            <div class="card card-primary card-outline">
                <div class="card-body box-profile">
                    <div class="text-center">
                        <img class="profile-user-img img-fluid img-circle" src="/SliderImages/@Model.ImageName" alt="User profile picture">
                    </div>
                    <h3 class="profile-username text-center">@Model.Title</h3>
                    <ul class="list-group list-group-unbordered mb-3">
                        <li class="list-group-item">
                            <b>created At</b> <a class="float-right">@Model.CreateDate</a>
                        </li>
                        <li class="list-group-item">
                            <b>Url</b> <a class="float-right">@Model.Url</a>
                        </li>
                        <li class="list-group-item">
                            <b>Status</b> <p class="float-right">@Model.IsPublish</p>
                        </li>
                        <li class="list-group-item">
                            <b>View Count</b> <p class="float-right">@Model.VisitCount</p>
                        </li>
                    </ul>
                <div>
                    <a class="btn btn-warning btn-block" asp-action="Edit" asp-route-id="@Model.SliderId">Edit</a>
                    <a class="btn btn-primary btn-block" asp-action="Index">Back</a>
                </div>
            </div>
        </div>
</div>
    </section>
</div>
