﻿@model Blog.DomainClasses.Slider.Slider

@{
    ViewData["Title"] = "Edit";
}
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>Video</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li class="breadcrumb-item active">Video</li>
                    </ol>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="card col-12">
                    <div class="row mt-4">
                        <div class="col-12 col-md-12 ">
                            <div class="card card-primary">
                                <div class="card-header">
                                    <h3 class="card-title">Edit</h3>
                                </div>
                                <form asp-action="EditVideo" method="post" enctype="multipart/form-data">
                                    <div class="card-body">
                                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                        <input type="hidden" asp-for="SliderId" />
                                        <input type="hidden" asp-for="CreateDate" />
                                        <input type="hidden" asp-for="ImageName" />
                                        <input type="hidden" asp-for="VisitCount" />
                                        <input type="hidden" asp-for="HasVideoe" />

                                        <div class="form-group">
                                            <label asp-for="Title" class="control-label"></label>
                                            <input asp-for="Title" class="form-control" />
                                            <span asp-validation-for="Title" class="text-danger"></span>
                                        </div>
                                        <div class="form-group">
                                            <label asp-for="Url" class="control-label"></label>
                                            <input asp-for="Url" class="form-control" />
                                            <span asp-validation-for="Url" class="text-danger"></span>
                                        </div>
                                        <div class="form-group">
                                            <label asp-for="VideoCode" class="control-label"></label>
                                            <input asp-for="VideoCode" class="form-control" />
                                            <span asp-validation-for="VideoCode" class="text-danger"></span>
                                        </div>
                                        <div class="form-group">
                                            <label asp-for="ImageName" class="control-label"></label>
                                            <input type="file" name="imgFile" />
                                            <span asp-validation-for="ImageName" class="text-danger"></span>
                                        </div>
                                        <div col-12>
                                            @if (Model.ImageName.stringToArray().stringToArraySelectIndex(0) != "")
                                            {
                                                <div class="col-md-3">
                                                    <label asp-for="ImageName" class="control-label"></label>
                                                    <img src="/SliderImages/@Model.ImageName.stringToArray().stringToArraySelectIndex(0)" style="width: 150px;height: 150px" class="img-thumbnail" />
                                                    <span asp-validation-for="ImageName" class="text-danger"></span>
                                                    <a asp-action="deleteImage" asp-controller="Sliders" asp-route-id="@Model.SliderId" asp-route-ImageName="@Model.ImageName.stringToArray().stringToArraySelectIndex(0)" class="btn-sm btn-danger"> Delete</a>
                                                </div>
                                            }
                                        </div>
                                    </div>
                                    <div class="card-footer">
                                        <input type="submit" value="Save" class="btn btn-success" />
                                        <a class="btn btn-primary" asp-action="Index">Back</a>
                                    </div>
                                </form>
                            </div>
                        </div>


                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
