﻿@using Blog.Utilities.Convertor
@model IEnumerable<Blog.DomainClasses.Slider.Slider>

@{
    ViewData["Title"] = "Galleries";

}
@section Styles{
    <!-- DataTables -->
    <link rel="stylesheet" href="~/AdminAssets/plugins/datatables-bs4/css/dataTables.bootstrap4.css">
}
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>Sliders</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li class="breadcrumb-item active">Sliders</li>
                    </ol>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="card col-12">
                    <div class="card-header">
                        <h3 class="card-title">Sliders List</h3>
                        <a class="btn btn-primary float-right" asp-action="Create">New Slider</a>
                    </div>
                    <div class="card-body">
                        <table id="example1" class="table table-bordered table-striped dataTable" role="grid" aria-describedby="example1_info">
                            <thead>
                                <tr>

                                    <th>
                                        @Html.DisplayNameFor(model => model.ImageName)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Title)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Url)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.CreateDate)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.VisitCount)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.IsPublish)
                                    </th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr>

                                        <td>
                                            @if (item.ImageName.stringToArray().stringToArraySelectIndex(0)!="")
                                            {
                                                <img src="/SliderImages/@item.ImageName.stringToArray().stringToArraySelectIndex(0)" class="img-fluid img-thumbnail" style="width: 100px;height: 100px" />
                                            }
                                        </td>
                                        <td>
                                            @item.Title
                                        </td>
                                        <td>
                                            <a class="text-primary" href="@item.Url">@item.Url.Substring(0, item.Url.Length / 5)</a>
                                        </td>
                                        <td>
                                            @item.CreateDate
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.VisitCount)
                                        </td>
                                        <td>
                                            @if (item.IsPublish)
                                            {
                                                <span class="text-success">Published</span>
                                            }
                                            else
                                            {
                                                <span class="text-danger">Not Published</span>
                                            }
                                        </td>
                                        <td>
                                            <a class="btn-sm btn-warning" asp-action="Edit" asp-route-id="@item.SliderId">Edit</a>
                                            @*<a class="btn-sm btn-info" asp-action="Details" asp-route-id="@item.SliderId">Details</a>*@
                                            <a class="btn-sm btn-danger" asp-action="Delete" asp-route-id="@item.SliderId">Delete</a>
                                            @if (item.IsPublish)
                                            {
                                                <a class="btn-sm btn-warning" asp-action="ChangeIsPublishStatus" asp-route-sliderId="@item.SliderId" asp-route-isPublish="false">Not Publish</a>
                                            }
                                            else
                                            {
                                                <a class="btn-sm btn-warning" asp-action="ChangeIsPublishStatus" asp-route-sliderId="@item.SliderId" asp-route-isPublish="true">Publish</a>
                                            }
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

        </div>
    </section>
</div>
@section Scripts{
    <!-- DataTables -->
    <script src="~/AdminAssets/plugins/datatables/jquery.dataTables.js"></script>
    <script src="~/AdminAssets/plugins/datatables-bs4/js/dataTables.bootstrap4.js"></script>
    <script>
        $(function () {
            $("#example1").DataTable();
        });
    </script>
}