﻿@model IEnumerable<Blog.DomainClasses.Category.Category>

<li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
       aria-haspopup="true" aria-expanded="false">
        други спортове
    </a>
    <div class="dropdown-menu" style="background:#252525;" aria-labelledby="navbarDropdown">
    @foreach (var item in Model)
    {
        <a class="dropdown-item" asp-controller="Search" asp-action="Category" asp-route-name="@item.NameInUrl">@item.Name</a>
    }
    </div>
</li>