﻿@model Blog.DomainClasses.ApplicationUser
@{
    ViewData["Title"] = "Details";
}

<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>@Model.Name's Detail</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li class="breadcrumb-item active">User Details</li>
                    </ol>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>
    <section class="content">
        <div class="container-fluid">
            <div class="card card-primary card-outline">
                <div class="card-body box-profile">
                    <div class="text-center">
                        <img class="profile-user-img img-fluid img-circle" src="~/AdminAssets/dist/img/avatar.png" alt="User profile picture">
                    </div>

                    <h3 class="profile-username text-center">@Model.Name</h3>

                    <p class="text-muted text-center">Author</p>

                    <ul class="list-group list-group-unbordered mb-3">
                        <li class="list-group-item">
                            <b>UserName</b> <a class="float-right">@Model.UserName</a>
                        </li>
                        <li class="list-group-item">
                            <b>Phone</b> <a class="float-right">@Model.PhoneNumber</a>
                        </li>
                        <li class="list-group-item">
                            <b>Status</b> <p class="float-right">
                                @if (Model.IsActive)
                                {
                                    <a class="btn-sm btn-warning" asp-action="ChangeIsActiveStatus" asp-route-userId="@Model.Id" asp-route-isActive="false">Deactive</a>
                                }
                                else
                                {
                                    <a class="btn-sm btn-warning" asp-action="ChangeIsActiveStatus" asp-route-userId="@Model.Id" asp-route-isActive="true">Active</a>
                                }
                            </p>
                        </li>
                    </ul>

                    <a class="btn btn-primary btn-block" asp-action="Index">Back</a>
                </div>
                <!-- /.card-body -->
            </div>
        </div>
    </section>
</div>

