﻿@model Blog.DomainClasses.Option.Option
<div class="row">
    @if (Model.FooterBannerImage != null)
    {
        <div class="col-12">
            <img src="~/SettingImages/@Model.FooterBannerImage" class="img-fluid my-5" alt="">
        </div>

    }
    @if (Model.FooterBannerCode != null)
    {
        @Html.Raw(Model.FooterBannerCode)
    }
</div>
       </div>
    </div>
<footer class="footer pt-5 pb-2 mt-5">
    <div class="container">
        <div class="row">
            <div class="col-12 col-lg-4 text-center text-lg-left">
                <h4 class="mb-0">
                    <a href="#" class="text-white">
                        <img src="~/SettingImages/@Model.Logo" style="width: 48%;" class="img-fluid" alt="">
                    </a>
                </h4>
            </div>

            <div class="col-12 col-lg-4 my-5 my-lg-0">

            </div>

            <div class="col-12 col-lg-4">
                <p class="border-left pl-2 text-white"> За контакти: </p>
                <small class="text-muted">
                    @Model.Footer
                </small>
            </div>
        </div>
    </div>
    <div class="text-center mt-5">
        @*<small class="badge badge-success  px-3 py-0 mb-2 align-middle">0123568</small>*@
        <small class="text-muted d-block"> &copy;@@2020 пиринска бундеслига. all right reserved.TrinityTech</small>
    </div>
</footer>
<div class="bg-dark">
</div>