﻿@model Blog.web.Models.TablesViewModel.TablesViewModel
        <div class="card-body p-2">
            <div class="d-flex flex-column flex-lg-row justify-content-between align-items-center side-card">
                <div class="mb-2 mb-lg-0">
                    @foreach (var item in Model.leagues.Take(3))
                    {
                        <small>
                            <a onclick="ShowLeagu(@item.Id)" class="d-block px-2 py-1 rounded text-white">@item.Name</a>
                        </small>
                    }

                </div>
                <div class="mb-2 mb-lg-0">
                    @foreach (var item in Model.leagues.Skip(3).Take(3))
                    {
                        <small>
                            <a onclick="ShowLeagu(@item.Id)" class="d-block px-2 py-1 rounded text-white">@item.Name</a>
                        </small>
                    }

                </div>
            </div>
            <ul class="nav pr-0 side-nav text-center mt-4">
                <li class="nav-item flex-grow-1">
                    <a href="#tab1" data-toggle="tab" class="nav-link btn-secondary rounded active"
                       data-toggle="tab">Класиране</a>
                </li>
                <li class="nav-item flex-grow-1 mx-2">
                    <a href="#tab2" data-toggle="tab" class="nav-link btn-secondary rounded"
                       data-toggle="tab">Програма</a>
                </li>
                <li class="nav-item flex-grow-1">
                    <a href="#tab3" data-toggle="tab" class="nav-link btn-secondary rounded"
                       data-toggle="tab">Резултати</a>
                </li>
            </ul>
        </div>
        <div class="tab-content">
            <div class="tab-pane fade active show" id="tab1">
                <table class="table text-center table-side mt-1">
                    <thead class="bg-white">
                        <tr>
                            <th>#</th>
                            <th>ОТБОР</th>
                            <th class="text-success">СРЕЩИ</th>
                            <th class="text-danger">ТОЧКИ</th>
                        </tr>
                    </thead>
                    <tbody>
                        @{int i = 1; }
                        @foreach (var item in Model.Rankings)
                        {
                            <tr>
                                <th class="text-white">@i</th>
                                <td class="text-white">
                                    <img src="~/TeamLogo/@item.Teames.Logo" style="width:24px;height:24px;" class="img-fluid" alt="">
                                    @item.Teames.Name
                                </td>
                                <td class="text-success">@item.GF</td>
                                <td class="text-danger">@item.GD</td>
                            </tr>
                            i++;
                        }


                    </tbody>
                </table>
                <div class="py-2 pr-1 d-flex justify-content-between align-items-center bg-light">
                    <a></a>
                    @*<a href="#" class="text-dark">
                            <strong>Виж подробно</strong> <i class="fas fa-arrow-right text-success ml-2"></i>
                        </a>*@
                </div>
            </div>
            <div class="tab-pane fade" id="tab2">
                <table class="table text-center table-side mt-1">
                    <tbody>
                        @foreach (var item in Model.Schedules)
                        {
                            <tr>
                                <td class="text-white">
                                    @item.HomeTeams.Name<img src="~/TeamLogo/@item.HomeTeams.Logo"
                                                             class="img-fluid ml-2" style="width:24px;height:24px;" alt="">
                                </td>
                                <td class="text-white">
                                    <small class="bg-success px-2 py-1 rounded">@item.MatchDay.ToString("MM/dd/yyyy")</small>
                                </td>
                                <td class="text-white">
                                    @item.AwayTeams.Name<img src="~/TeamLogo/@item.AwayTeams.Logo"
                                                             class="img-fluid ml-2" style="width:24px;height:24px;" alt="">
                                </td>
                            </tr>
                        }

                    </tbody>
                </table>
                <div class="py-2 pr-1 d-flex justify-content-between align-items-center bg-light">
                    <a></a>
                    @*<a href="#" class="text-dark">
                            <strong>Виж подробно</strong><i class="fas fa-arrow-right text-success ml-2"></i>
                        </a>*@
                </div>
            </div>
            <div class="tab-pane fade" id="tab3">
                <table class="table text-center table-side mt-1">
                    <tbody>
                        @foreach (var item in Model.Results)
                        {
                            <tr>
                                <td class="text-white">
                                    @item.HomeTeams.Name<img src="~/TeamLogo/@item.HomeTeams.Logo"
                                                             class="img-fluid ml-2" style="width:24px;height:24px;" alt="">
                                </td>
                                <td class="text-white">
                                    <small class="bg-danger px-2 py-1 rounded">@item.Team1Goals:@item.Team2Goals</small>
                                </td>
                                <td class="text-white">
                                    @item.AwayTeams.Name<img src="~/TeamLogo/@item.AwayTeams.Logo"
                                                             class="img-fluid ml-2" style="width:24px;height:24px;" alt="">
                                </td>
                            </tr>
                        }

                    </tbody>
                </table>
                <div class="py-2 pr-1 d-flex justify-content-between align-items-center bg-light">
                    <a></a>
                    @*<a href="#" class="text-dark">
                            <strong>Виж подробно</strong><i class="fas fa-arrow-right text-success ml-2"></i>
                        </a>*@
                </div>
            </div>
        </div>
