﻿<!-- Main Sidebar Container -->
<aside class="main-sidebar sidebar-dark-primary elevation-4">
    <!-- Brand Logo -->
    <a href="#" class="brand-link">
        <img src="~/AdminAssets/dist/img/AdminLTELogo.png" alt="AdminLTE Logo" class="brand-image img-circle elevation-3"
             style="opacity: .8">
        <span class="brand-text font-weight-light">Cms</span>
    </a>

    <!-- Sidebar -->
    <div class="sidebar">
        <!-- Sidebar user panel (optional) -->
        <div class="user-panel mt-3 pb-3 mb-3 d-flex">
            <div class="image">
                <img src="~/AdminAssets/dist/img/user2-160x160.jpg" class="img-circle elevation-2" alt="User Image">
            </div>
            <div class="info">
                <a href="#" class="d-block">@User.Identity.Name</a>
            </div>
        </div>

        <!-- Sidebar Menu -->
        <nav class="mt-2">
            <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                <!-- Add icons to the links using the .nav-icon class
    with font-awesome or any other icon font library -->
                @*@await Component.InvokeAsync("ShowCategorySideBar")*@

                @if (User.Identity.IsAuthenticated)
                {
                    <li class="nav-item">
                        <a asp-area="" asp-controller="Manage" asp-action="Index" class="nav-link">
                            <i class="nav-icon far fa-id-card"></i>
                            <p>
                                profile
                            </p>
                        </a>
                    </li>
                    @*<li class="nav-item">
                <a asp-area="Admin" asp-controller="Users" asp-action="Index" class="nav-link">
                    <i class="nav-icon far fa-user-circle"></i>
                    <p>
                        User Manager
                    </p>
                </a>
            </li>*@
                    <li class="nav-item">
                        <a asp-area="Admin" asp-controller="Categories" asp-action="Index" class="nav-link">
                            <i class="nav-icon far fa-list-alt"></i>
                            <p>
                                Category Manager
                            </p>
                        </a>
                    </li>
                    <li class="nav-item has-treeview">
                        <a href="#" class="nav-link">
                            <i class="nav-icon fas fa-copy"></i>
                            <p>
                                Posts
                                <i class="fas fa-angle-left right"></i>
                            </p>
                        </a>
                        <ul class="nav nav-treeview">
                            <li class="nav-item">
                                <a asp-area="Admin" asp-controller="Posts" asp-action="Index" class="nav-link">
                                    <i class="nav-icon far fa-edit"></i>
                                    <p>
                                        Posts
                                    </p>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a asp-area="Admin" asp-controller="Posts" asp-action="Index" asp-route-isinterView="true" class="nav-link">
                                    <i class="nav-icon far fa-edit"></i>
                                    <p>
                                        InterViews
                                    </p>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a asp-area="Admin" asp-controller="Sliders" asp-action="Index" class="nav-link">
                                    <i class="nav-icon far fa-images"></i>
                                    <p>
                                        Galleries
                                    </p>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a asp-area="Admin" asp-controller="Sliders" asp-action="Videos" class="nav-link">
                                    <i class="nav-icon far fa-images"></i>
                                    <p>
                                        Videos
                                    </p>
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class="nav-item has-treeview">
                        <a href="#" class="nav-link">
                            <i class="nav-icon fas fa-comment"></i>
                            <p>
                                Comments
                                <i class="fas fa-angle-left right"></i>
                            </p>
                        </a>
                        <ul class="nav nav-treeview">
                            <li class="nav-item">
                                <a asp-area="Admin" asp-controller="Comments" asp-action="Index" class="nav-link">
                                    <i class="nav-icon far fa-comment"></i>
                                    <p>
                                        Posts Comment
                                    </p>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a asp-area="Admin" asp-controller="CommentsForSlider" asp-action="Index" class="nav-link">
                                    <i class="nav-icon far fa-comment"></i>
                                    <p>
                                        Galleries comment
                                    </p>
                                </a>
                            </li>
                        </ul>
                    </li>


                    <li class="nav-item">
                        <a asp-area="Admin" asp-controller="Leagues" asp-action="Index" class="nav-link">
                            <i class="nav-icon fas fa-baseball-ball"></i>
                            <p>
                                Leagues
                            </p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a asp-area="Admin" asp-controller="Teams" asp-action="Index" class="nav-link">
                            <i class="nav-icon fas fa-baseball-ball"></i>
                            <p>
                                Teams
                            </p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a asp-area="Admin" asp-controller="Rankings" asp-action="Index" class="nav-link">
                            <i class="nav-icon fas fa-table"></i>
                            <p>
                                Rankings
                            </p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a asp-area="Admin" asp-controller="Results" asp-action="Index" class="nav-link">
                            <i class="nav-icon fas fa-clipboard-check"></i>
                            <p>
                                Results
                            </p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a asp-area="Admin" asp-controller="schedules" asp-action="Index" class="nav-link">
                            <i class="nav-icon fas fa-list"></i>
                            <p>
                                schedules
                            </p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a asp-area="Admin" asp-controller="Options" asp-action="Edit" class="nav-link">
                            <i class="nav-icon fas fa-cog"></i>
                            <p>
                                Setting Manager
                            </p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a asp-controller="Account" asp-action="Logout" class="nav-link">
                            <i class="nav-icon fas fa-power-off"></i>
                            <p>
                                Logout
                            </p>
                        </a>
                    </li>
                }
                else
                {
                    <li class="nav-header">Welcom Guest</li>
                    <li class="nav-item">
                        <ul class="list-group list-group-flush text-primary p-0">
                            <li class="list-group-item">
                                <a asp-controller="Account" asp-action="Login" class="text-danger">Login</a>
                            </li>

                        </ul>
                    </li>
                }
                @*@await Component.InvokeAsync("ShowAuthors")*@
            </ul>
        </nav>
        <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
</aside>