﻿@model Blog.DomainClasses.PostTag.PostTag

@{
    ViewData["Title"] = "Delete";
}
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>Tags</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li class="breadcrumb-item active">Tags</li>
                    </ol>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>
    <section class="content">
        <div class="container-fluid">
            <div class="card card-primary card-outline">
                <div class="card-body box-profile">
                    <div class="alert alert-danger alert-dismissible">
                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                        <h5><i class="icon fas fa-ban"></i> Alert!</h5>
                        Are You Sure to delete yhis Item?
                    </div>
                    <ul class="list-group list-group-unbordered mb-3">
                        <li class="list-group-item">
                            <b>Tags</b> <a class="float-right"> @Model.Tag</a>
                        </li>
                        <li class="list-group-item">
                            <b>Post</b> <a class="float-right">@Model.Post</a>
                        </li>
                        @*<li class="list-group-item">
                <b>Desc</b> <a class="float-right">@Model.Post.Description</a>
            </li>*@
                    </ul>
                </div>
                <form asp-action="Delete">
                    <input type="hidden" asp-for="TagId" />
                    <input type="hidden" name="postId" value="@ViewBag.postId" />
                    <input type="submit" value="Delete" class="btn btn-danger btn-block" />
                    <a class="btn btn-primary btn-block" asp-action="Index" asp-route-postId="@ViewBag.postId">Back</a>
                </form>
            </div>
        </div>
    </section>
</div>
