﻿@model Blog.DomainClasses.PostTag.PostTag

@{
    ViewData["Title"] = "Details";
}
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        <h1>Tags</h1>
                    </div>
                    <div class="col-sm-6">
                        <ol class="breadcrumb float-sm-right">
                            <li class="breadcrumb-item"><a href="#">Home</a></li>
                            <li class="breadcrumb-item active">Tags</li>
                        </ol>
                    </div>
                </div>
            </div><!-- /.container-fluid -->
</section>
    <section class="content">
        <div class="container-fluid">
            <div class="card card-primary card-outline">
                <div class="card-body box-profile">
                    <ul class="list-group list-group-unbordered mb-3">
                        <li class="list-group-item">
                            <b>Tags</b> <a class="float-right"> @Model.Tag</a>
                        </li>
                        <li class="list-group-item">
                            <b>Post</b> <a class="float-right">@Model.Post</a>
                        </li>
                        @*<li class="list-group-item">
                            <b>Desc</b> <a class="float-right">@Model.Post.Description</a>
                        </li>*@
                    </ul>
                </div>
                <div>
                    <a asp-action="Edit" asp-route-id="@Model.TagId" class="btn btn-success btn-block">Edit</a>
                    <a class="btn btn-primary btn-block" asp-action="Index" asp-route-postId="@ViewBag.postId">Back</a>
                </div>
            </div>
        </div>
    </section>
</div>
