﻿@model Blog.DomainClasses.PostTag.PostTag

@{
    ViewData["Title"] = "Edit";
}
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        <h1>Tags</h1>
                    </div>
                    <div class="col-sm-6">
                        <ol class="breadcrumb float-sm-right">
                            <li class="breadcrumb-item"><a href="#">Home</a></li>
                            <li class="breadcrumb-item active">Tags</li>
                        </ol>
                    </div>
                </div>
            </div><!-- /.container-fluid -->
</section>
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="card col-12">
                    <div class="row mt-4">
                        <div class="col-12 col-md-12 ">
                            <div class="card card-primary">
                                <div class="card-header">
                                    <h3 class="card-title">Edit</h3>
                                </div>
                                <form asp-action="Edit">
                                    <div class="card-body">
                                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                        <input type="hidden" asp-for="TagId" />
                                        @if (ViewBag.postId == 0)
                                        {
                                            <div class="form-group">
                                                <label asp-for="PostId" class="control-label"></label>
                                                <select asp-for="PostId" class="form-control" asp-items="ViewBag.Posts"></select>
                                                <span asp-validation-for="PostId" class="text-danger"></span>
                                            </div>
                                        }
                                        else
                                        {
                                            <input type="hidden" asp-for="PostId" />
                                        }
                                        <div class="form-group">
                                            <label asp-for="Tag" class="control-label"></label>
                                            <input asp-for="Tag" class="form-control" />
                                            <span asp-validation-for="Tag" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="card-footer">
                                        <input type="submit" value="Save" class="btn btn-success" />
                                        <a class="btn btn-primary" asp-action="Index" asp-route-postId="@ViewBag.postId">Back</a>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
