﻿@using Blog.DomainClasses.commentForSlider
@using Blog.Utilities.Convertor
@model Blog.DomainClasses.commentForSlider.CommentForSlider

@{
    ViewData["Title"] = "Details";
    List<CommentForSlider> subComments = (List<CommentForSlider>)ViewData["subComments"];
}
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>Comments</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li class="breadcrumb-item active">Comments</li>
                    </ol>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>
    <section class="content">
        <div class="container-fluid">
            <div class="card card-primary card-outline">
                <div class="card-body box-profile">
                    <ul class="list-group list-group-unbordered mb-3">
                        <li class="list-group-item">
                            <b>Name</b> <a class="float-right">@Model.Name</a>
                        </li>
                        <li class="list-group-item">
                            <b>Text</b> <a class="float-right">@Model.CommentText</a>
                        </li>
                        <li class="list-group-item">
                            <b>Created At</b> <a class="float-right">@Model.CreateDate</a>
                        </li>
                        <li class="list-group-item">
                            <b>Is Publish?</b> <a class="float-right">@Model.IsPublish</a>
                        </li>
                        <li class="list-group-item">
                            <b>Post</b> <a class="float-right">@Model.Slider</a>
                        </li>
                        <li class="list-group-item">
                            <b>Parent</b> <a class="float-right">@Model.Parent</a>
                        </li>
                        <li class="list-group-item">
                            <b>Publish</b> <p class="float-right">
                                @if (Model.IsPublish)
                                {
                                    <a class="btn-sm btn-warning" asp-action="ChangeIsPublishStatus" asp-route-commentId="@Model.CommentId" asp-route-isPublish="false">Dont Publish</a>
                                }
                                else
                                {
                                    <a class="btn-sm btn-warning" asp-action="ChangeIsPublishStatus" asp-route-commentId="@Model.CommentId" asp-route-isPublish="true">Publish</a>
                                }
                            </p>
                        </li>
                    </ul>
                    <a  class="btn btn-success btn-block" asp-action="Edit" asp-route-Id="@Model.CommentId">Edit</a>
                    <a asp-action="Index" class="btn btn-primary btn-block">Back</a>

                </div>
            </div>
        </div>
    </section>
</div>
