﻿@model Blog.DomainClasses.commentForSlider.CommentForSlider

@{
    ViewData["Title"] = "Edit";
}

<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>Comments</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li class="breadcrumb-item active">Comments</li>
                    </ol>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="card col-12">
                    <div class="row mt-4">
                        <div class="col-12 col-md-12 ">
                            <div class="card card-primary">
                                <div class="card-header">
                                    <h3 class="card-title">Edit</h3>
                                </div>
                                <form asp-action="Edit" role="form">
                                    <div class="card-body">
                                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                        <input type="hidden" asp-for="CommentId" />
                                        <input type="hidden" asp-for="ParentId" />
                                        @if ((int)ViewData["SliderId"] == 0)
                                        {
                                            <div class="form-group">
                                                <label asp-for="SliderId" class="control-label"></label>
                                                <select asp-for="SliderId" class="form-control" asp-items="ViewBag.Posts"></select>
                                            </div>
                                        }
                                        else
                                        {
                                            <input asp-for="SliderId" type="hidden" class="form-control" value="@ViewData["SliderId"]" />

                                        }
                                        <div class="form-group">
                                            <label asp-for="Name" class="control-label"></label>
                                            <input asp-for="Name" class="form-control" />
                                            <span asp-validation-for="Name" class="text-danger"></span>
                                        </div>
                                        <div class="form-group">
                                            <label asp-for="CommentText" class="control-label"></label>
                                            <input asp-for="CommentText" class="form-control" />
                                            <span asp-validation-for="CommentText" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="card-footer">
                                        <input type="submit" value="Save" class="btn btn-success" />
                                        <a class="btn btn-primary" asp-action="Index">Back</a>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
