﻿@model IEnumerable<Blog.DomainClasses.commentForSlider.CommentForSlider>

@{
    ViewData["Title"] = "Comment List";
}
@section Styles{
    <!-- DataTables -->
    <link rel="stylesheet" href="~/AdminAssets/plugins/datatables-bs4/css/dataTables.bootstrap4.css">
}
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>Comments</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li class="breadcrumb-item active">Comments</li>
                    </ol>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="card col-12">
                    <div class="card-header">
                        <h3 class="card-title">Comments List</h3>
                        <a class="btn-sm btn-primary float-right" asp-action="Create">Create Comments</a>
                    </div>
                    <div class="card-body">
                        <table id="example1" class="table table-bordered table-striped dataTable" role="grid" aria-describedby="example1_info">
                            <thead>
                                <tr>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Name)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.CommentText)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.CreateDate)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Slider)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.IsPublish)
                                    </th>
                                    <th>
                                        Actions
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Name)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.CommentText)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.CreateDate)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Slider.Title)
                                        </td>
                                        <td>
                                            @if (item.IsPublish)
                                            {
                                                <span class="text-success">Published</span>
                                            }
                                            else
                                            {
                                                <span class="text-danger">Not Published</span>
                                            }
                                        </td>
                                        <td>
                                            <a class="d-none" asp-action="Edit" asp-route-id="@item.CommentId">Edit</a>
                                            <a class="btn-sm btn-info" asp-action="Details" asp-route-id="@item.CommentId">Detail</a>
                                            <a class="btn-sm btn-danger" asp-action="Delete" asp-route-id="@item.CommentId">Delete</a>
                                            @if (item.IsPublish)
                                            {
                                                <a class="btn-sm btn-warning" asp-action="ChangeIsPublishStatus" asp-route-commentId="@item.CommentId" asp-route-isPublish="false">dont Publish</a>
                                            }
                                            else
                                            {
                                                <a class="btn-sm btn-warning" asp-action="ChangeIsPublishStatus" asp-route-commentId="@item.CommentId" asp-route-isPublish="true">Publish</a>
                                            }
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
@section Scripts{
    <!-- DataTables -->
    <script src="~/AdminAssets/plugins/datatables/jquery.dataTables.js"></script>
    <script src="~/AdminAssets/plugins/datatables-bs4/js/dataTables.bootstrap4.js"></script>
    <script>
        $(function () {
            $("#example1").DataTable();
        });
    </script>
}
