﻿@{
    ViewData["Title"] = "Reset password confirmation";
}
<div class="row mt-4">
    <div class="col-12 col-md-4 ">
        @await Component.InvokeAsync("ShowCategorySideBar")
    </div>

    <div class="col-12 col-md-8 ">
        <div class="card mb-4 ">
            <div class="card-body text-success">
                <p>
                    کلمه عبور شما با موفقیت تغییر کرد. <a asp-action="Login">برای ورود کلیک کنید</a>.
                </p>
            </div>
        </div>
    </div>
</div>