﻿@using System.Web
@using Blog.Utilities.Convertor
@using Blog.Utilities.String
@model Blog.ViewModels.Search.PostsPaginationForSearchViewModel

@{
    ViewData["Title"] = "Други Спортове";
}
<div class="col-12 col-lg-8 main-side">
    @if (Model.Posts.Any())
    {
        <h5 class="pl-2 mb-4">Lorem ipsum dolor sit amet consectetur adipisicing elit.</h5>
        <div class="mb-5 poster">
            <img src="~/PostImages/@Model.Posts.FirstOrDefault().ImageName" style="min-width:100%;" class="img-fluid mb-3 rounded"
                 alt="img">
            <div class="alert rounded-0">
                <h5 class="d-block border-0">@Model.Posts.FirstOrDefault().Title</h5>
                <small class="text-muted border-right pr-4">
                    <i class="fas fa-comment"></i>
                    Коментари: @Model.Posts.FirstOrDefault().Comments.Count
                </small>
                <small><a href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fdevelopers.facebook.com%2Fdocs%2Fplugins%2F&amp;src=sdkpreparse" class="text-muted"><i class="fab fa-facebook"></i></a></small>
                <small>
                    <a href="https://www.linkedin.com/shareArticle?mini=true&url=@Model.Posts.FirstOrDefault().PostId&title=@Model.Posts.FirstOrDefault().Title&summary=@Model.Posts.FirstOrDefault().ShortDesc" class="text-muted mx-2">
                        <i class="fab fa-linkedin"></i>
                    </a>
                </small>
                <small><a href="https://twitter.com/share?ref_src=twsrc%5Etfw" class="text-muted" data-show-count="false" charset="utf-8"><i class="fab fa-twitter"></i></a></small>
            </div>
        </div>
        <hr class="my-5">

        <div class="row mt-5">
            @foreach (var item in Model.Posts)
            {
                <div class="col-12 col-md-6 col-lg-4">
                    <div class="card border-0 card-hover mb-3 rounded-0">
                        <div class="card-img-top">
                            <div class="overlay-card">
                                <a asp-area="" asp-controller="Post" asp-action="Index" asp-route-id="@item.PostId" asp-route-name="@item.Title.ToUrl()" class="px-4 py-2 rounded-pill">Отвори...</a>
                            </div>
                            <img src="/PostImages/@item.ImageName"
                                 class="img-fluid rounded-0 card-img" alt="">
                        </div>
                        <div class="card-body px-2 pt-2">
                            <strong>
                                <a href="#" class="card-title d-block text-justify">
                                    @item.Title
                                </a>
                            </strong>
                            <small class="card-text d-block mt-3 text-justify">
                                @if (item.ShortDesc.Length > 50)
                                {@Html.Raw(item.ShortDesc.Substring(0, 49))}
                            else
                            {@Html.Raw(item.ShortDesc)}
                                <a asp-area="" asp-controller="Post" asp-action="Index" asp-route-id="@item.PostId" asp-route-name="@item.Title.ToUrl()">
                                    READ
                                    MORE
                                </a>
                            </small>
                        </div>
                        <div class="card-footer bg-transparent border-left-0 border-right-0 border-bottom py-2 d-flex justify-content-between align-items-center px-2">
                            <small class="text-muted">
                                <i class="fas fa-comment mr-1"></i>Коментари:@item.Comments.Count
                            </small>

                            <div>
                                <small><a href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fdevelopers.facebook.com%2Fdocs%2Fplugins%2F&amp;src=sdkpreparse" class="text-muted"><i class="fab fa-facebook"></i></a></small>
                                <small>
                                    <a href="https://www.linkedin.com/shareArticle?mini=true&url=@item.PostId&title=@item.Title&summary=@item.ShortDesc" class="text-muted mx-2">
                                        <i class="fab fa-linkedin"></i>
                                    </a>
                                </small>
                                <small><a href="https://twitter.com/share?ref_src=twsrc%5Etfw" class="text-muted" data-show-count="false" charset="utf-8"><i class="fab fa-twitter"></i></a></small>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
        @await Component.InvokeAsync("Advertise")
    }
    @*@if (Model.PageCount > 1)
        {
            <ul class="pagination mx-auto text-primary">
                <li @if (Model.CurrentPage == 1) { <text> class="page-item disabled" </text>  } else { <text> class="page-item" </text> }>
                    <a class="page-link"  asp-action="Category" asp-route-name="@Model.SearchWord" asp-route-pageId="@(Model.CurrentPage - 1)" tabindex="-1">قبلی</a>
                </li>
                <li @if (Model.CurrentPage == 1) { <text> class="page-item active" </text>  } else { <text> class="page-item" </text> }>
                    <a class="page-link" asp-action="Category" asp-route-name="@Model.SearchWord" asp-route-pageId="1">1</a>
                </li>
                @for (int i = 2; i <= Model.PageCount - 1; i++)
                {
                    <li @if (Model.CurrentPage == i) { <text> class="page-item active" </text>  } else { <text> class="page-item" </text> }>
                        <a class="page-link" asp-action="Category" asp-route-name="@Model.SearchWord" asp-route-pageId="@i">@i <span class="sr-only">(current)</span></a>
                    </li>
                }
                <li @if (Model.CurrentPage == Model.PageCount) { <text> class="page-item active" </text>  } else { <text> class="page-item" </text> }>
                    <a class="page-link" asp-action="Category" asp-route-name="@Model.SearchWord" asp-route-pageId="@(Model.PageCount)">@Model.PageCount</a>
                </li>
                <li @if (Model.CurrentPage < Model.PageCount) { <text> class="page-item " </text>  } else { <text> class="page-item disabled" </text> }>
                    <a class="page-link"  asp-action="Category" asp-route-pageId="@(Model.CurrentPage + 1)">بعدی</a>
                </li>
            </ul>
        }*@
</div>
