﻿@using System.Web
@using Blog.Utilities.Convertor
@using Blog.Utilities.String
@model Blog.ViewModels.Search.PostsPaginationForSearchViewModel

@{
    ViewData["Title"] = Model.SearchWord;
}
<div class="row mt-4">
    <div class="col-12 col-md-4 ">
        <div class="card mt-4">
            <div class="card-body text-primary">
                <h5 class="card-title">برچسب های مشابه</h5>
                <ul class="nav p-0">
                    @foreach (var item in Model.SimilarTags)
                    {
                        <li><a asp-controller="Search" asp-action="Tags" asp-route-tag="@item" class="btn-sm btn-outline-primary m-1">@item</a></li>
                    }
                </ul>
            </div>
        </div>
        <div class="card mt-4 mb-4">
            <div class="card-header">
                کلمه جست و جو شده
            </div>
            <ul class="list-group list-group-flush text-primary p-0">
                <li class="list-group-item">
                    <label class="text-primary">@Model.SearchWord</label>
                </li>
               
            </ul>
        </div>
    </div>

    <div class="col-12 col-md-8 ">
        <div id="content">
            @foreach (var item in Model.Posts)
            {
                <div class="card mb-4 ">
                    <div class="card-body text-primary">
                        <h4>@item.Title</h4>
                        <hr>
                        <img class="img-fluid img-thumbnail mx-auto d-block" src="/PostImages/@item.ImageName"
                             alt="">
                        <p class="text-medium text-justify">
                            @Html.Raw(HttpUtility.HtmlDecode(item.ShortDesc))
                        </p>
                        <hr>
                        <div class="row">
                            <div class="text-medium col">
                                <span>@item.UpdateDate.ToShamsi()</span>
                                <span>&nbsp; | &nbsp;</span>
                                <span class="text-justify">@item.VisitCount  </span>
                            </div>
                            <div class="col">
                                <a asp-area="" asp-controller="Post" asp-action="Index" asp-route-id="@item.PostId" asp-route-name="@item.Title.ToUrl()" class="btn btn-sm btn-outline-primary float-left">ادامه مطلب</a>
                            </div>

                        </div>

                    </div>
                </div>
            }
            @if (Model.PageCount > 1)
            {
                <ul class="pagination mx-auto text-primary">
                    <li @if (Model.CurrentPage == 1) { <text> class="page-item disabled" </text>  } else { <text> class="page-item" </text> }>
                        <a class="page-link"  asp-action="Tags" asp-route-tag="@Model.SearchWord" asp-route-pageId="@(Model.CurrentPage - 1)" tabindex="-1">قبلی</a>
                    </li>
                    <li @if (Model.CurrentPage == 1) { <text> class="page-item active" </text>  } else { <text> class="page-item" </text> }>
                        <a class="page-link" asp-action="Tags" asp-route-tag="@Model.SearchWord" asp-route-pageId="1">1</a>
                    </li>
                    @for (int i = 2; i <= Model.PageCount - 1; i++)
                    {
                        <li @if (Model.CurrentPage == i) { <text> class="page-item active" </text>  } else { <text> class="page-item" </text> }>
                            <a class="page-link" asp-action="Tags" asp-route-tag="@Model.SearchWord" asp-route-pageId="@i">@i <span class="sr-only">(current)</span></a>
                        </li>
                    }
                    <li @if (Model.CurrentPage == Model.PageCount) { <text> class="page-item active" </text>  } else { <text> class="page-item" </text> }>
                        <a class="page-link" asp-action="Tags" asp-route-tag="@Model.SearchWord" asp-route-pageId="@(Model.PageCount)">@Model.PageCount</a>
                    </li>
                    <li @if (Model.CurrentPage < Model.PageCount) { <text> class="page-item " </text>  } else { <text> class="page-item disabled" </text> }>
                        <a class="page-link"  asp-action="Tags" asp-route-tag="@Model.SearchWord" asp-route-pageId="@(Model.CurrentPage + 1)">بعدی</a>
                    </li>
                </ul>
            }
        </div>

    </div>
</div>

