﻿@model Blog.web.Models.TablesViewModel.TablesViewModel
<div class="col-12 col-lg-4 mb-5 mt-5 mt-lg-0 d-none d-lg-block">
    <!--weather part-->
    <div class="card mb-3" style="border:none;">
        <a class="weatherwidget-io" href="https://forecast7.com/bg/42d0223d09/blagoevgrad/" data-label_1="Благоевград" data-label_2="България" data-icons="Climacons Animated" data-days="5" data-theme="pure">Благоевград България</a>
        <script>
            !function (d, s, id) { var js, fjs = d.getElementsByTagName(s)[0]; if (!d.getElementById(id)) { js = d.createElement(s); js.id = id; js.src = 'https://weatherwidget.io/js/widget.min.js'; fjs.parentNode.insertBefore(js, fjs); } }(document, 'script', 'weatherwidget-io-js');
        </script>
        @*<div class="card-body px-2" style="border:none;">*@
        @*<a class="weatherwidget-io" href="https://forecast7.com/en/43d2127d91/varna/" data-label_1="VARNA" data-label_2="WEATHER" data-icons="Climacons Animated" data-days="5" data-theme="pure">VARNA WEATHER</a>
            <script>
                !function (d, s, id) { var js, fjs = d.getElementsByTagName(s)[0]; if (!d.getElementById(id)) { js = d.createElement(s); js.id = id; js.src = 'https://weatherwidget.io/js/widget.min.js'; fjs.parentNode.insertBefore(js, fjs); } }(document, 'script', 'weatherwidget-io-js');
            </script>*@
        @*<div class="d-flex justify-content-between align-items-center mb-4">
                <h1 class="mb-0"> -3 </h1>
                <img src="~/HomeStyle/img/sun (2).png" class="img-fluid" alt="">
            </div>
            <small class="d-block mb-2">
                <strong>
                    Clear
                </strong>
            </small>
            <small class="d-block mb-3">
                <strong>
                    2020 Dec 12
                </strong>
            </small>

            <div class="d-flex justify-content-between align-items-center mb-4">
                <div>
                    <small>
                        <strong class="d-block">-10</strong>
                        <strong class="d-block text-muted">Lorem ipsum dolor</strong>
                    </small>
                </div>
                <div class="border-left pl-2">
                    <small>
                        <strong class="d-block">-10</strong>
                        <strong class="d-block text-muted">Lorem ipsum dolor</strong>
                    </small>
                </div>
            </div>
            <div class="d-flex justify-content-between align-items-center">
                <div>
                    <small>
                        <strong class="d-block">-10</strong>
                        <strong class="d-block text-muted">Lorem</strong>
                    </small>
                </div>
                <div class="border-left pl-2">
                    <small>
                        <strong class="d-block">-10</strong>
                        <strong class="d-block text-muted">Lorem</strong>
                    </small>
                </div>
                <div class="border-left pl-2">
                    <small>
                        <strong class="d-block">-10</strong>
                        <strong class="d-block text-muted">Lorem</strong>
                    </small>
                </div>
                <div class="border-left pl-2">
                    <small>
                        <strong class="d-block">-10</strong>
                        <strong class="d-block text-muted">Lorem</strong>
                    </small>
                </div>
            </div>*@
        @*</div>*@
    </div>

    <div class="card border-0 side-card1 mb-3" id="teams" style="font-size:.7rem;">
        <div class="card-body p-2">
            <div class="d-flex flex-column flex-lg-row justify-content-between align-items-center side-card">
                <div class="mb-2 mb-lg-0">
                    @foreach (var item in Model.leagues.Take(3))
                    {
                        <small>
                            <a onclick="ShowLeagu(@item.Id)" class="d-block px-2 py-1 rounded text-white">@item.Name</a>
                        </small>
                    }

                </div>
                <div class="mb-2 mb-lg-0">
                    @foreach (var item in Model.leagues.Skip(3).Take(3))
                    {
                        <small>
                            <a  onclick="ShowLeagu(@item.Id)" class="d-block px-2 py-1 rounded text-white">@item.Name</a>
                        </small>
                    }

                </div>
            </div>
            <ul class="nav pr-0 side-nav text-center mt-4">
                <li class="nav-item flex-grow-1">
                    <a href="#tab1" data-toggle="tab" class="nav-link btn-secondary rounded active">Класиране</a>
                </li>
                <li class="nav-item flex-grow-1 mx-2">
                    <a href="#tab2" data-toggle="tab" class="nav-link btn-secondary rounded">Програма</a>
                </li>
                <li class="nav-item flex-grow-1">
                    <a href="#tab3" data-toggle="tab" class="nav-link btn-secondary rounded">Резултати</a>
                </li>
            </ul>
        </div>
        <div class="tab-content">
            <div class="tab-pane fade active show" id="tab1">
                <table class="table text-center table-side mt-1">
                    <thead class="bg-white">
                        <tr>
                            <th>#</th>
                            <th>ОТБОР</th>
                            <th class="text-success">СРЕЩИ</th>
                            <th class="text-danger">ТОЧКИ</th>
                        </tr>
                    </thead>
                    <tbody>
                        @{int i = 1; }
                        @foreach (var item in Model.Rankings)
                        {
                            <tr>
                                <th class="text-white">@i</th>
                                <td class="text-white">
                                    <img src="~/TeamLogo/@item.Teames.Logo" style="width:24px;height:24px;" class="img-fluid" alt="">
                                    @item.Teames.Name
                                </td>
                                <td class="text-success">@item.GF</td>
                                <td class="text-danger">@item.GD</td>
                            </tr>
                            i++;
                        }


                    </tbody>
                </table>
                <div class="py-2 pr-1 d-flex justify-content-between align-items-center bg-light">
                    <a></a>
                    @*<a href="#" class="text-dark">
                            <strong>Виж подробно</strong> <i class="fas fa-arrow-right text-success ml-2"></i>
                        </a>*@
                </div>
            </div>
            <div class="tab-pane fade" id="tab2">
                <table class="table text-center table-side mt-1">
                    <tbody>
                        @foreach (var item in Model.Schedules)
                        {
                            <tr>
                                <td class="text-white">
                                    @item.HomeTeams.Name<img src="~/TeamLogo/@item.HomeTeams.Logo"
                                                             class="img-fluid ml-2" style="width:24px;height:24px;" alt="">
                                </td>
                                <td class="text-white">
                                    <small class="bg-success px-2 py-1 rounded">@item.MatchDay.ToString("MM/dd/yyyy")</small>
                                </td>
                                <td class="text-white">
                                    @item.AwayTeams.Name<img src="~/TeamLogo/@item.AwayTeams.Logo"
                                                             class="img-fluid ml-2" style="width:24px;height:24px;" alt="">
                                </td>
                            </tr>
                        }

                    </tbody>
                </table>
                <div class="py-2 pr-1 d-flex justify-content-between align-items-center bg-light">
                    <a></a>
                    @*<a href="#" class="text-dark">
                            <strong>Виж подробно</strong><i class="fas fa-arrow-right text-success ml-2"></i>
                        </a>*@
                </div>
            </div>
            <div class="tab-pane fade" id="tab3">
                <table class="table text-center table-side mt-1">
                    <tbody>
                        @foreach (var item in Model.Results)
                        {
                            <tr>
                                <td class="text-white">
                                    @item.HomeTeams.Name<img src="~/TeamLogo/@item.HomeTeams.Logo"
                                                             class="img-fluid ml-2" style="width:24px;height:24px;" alt="">
                                </td>
                                <td class="text-white">
                                    <small class="bg-danger px-2 py-1 rounded">@item.Team1Goals:@item.Team2Goals</small>
                                </td>
                                <td class="text-white">
                                    @item.AwayTeams.Name<img src="~/TeamLogo/@item.AwayTeams.Logo"
                                                             class="img-fluid ml-2" style="width:24px;height:24px;" alt="">
                                </td>
                            </tr>
                        }

                    </tbody>
                </table>
                <div class="py-2 pr-1 d-flex justify-content-between align-items-center bg-light">
                    <a></a>
                    @*<a href="#" class="text-dark">
                            <strong>Виж подробно</strong><i class="fas fa-arrow-right text-success ml-2"></i>
                        </a>*@
                </div>
            </div>
        </div>
    </div>

    @if (Model.SiteSetting.SideBannerImage1 != null)
    {
        <div class="card mb-3 border-0">
            <img src="~/SettingImages/@Model.SiteSetting.SideBannerImage1" style="width:350px;" class="img-fluid" alt="">
        </div>
    }
    @if (Model.SiteSetting.SideBannerCode1 != null)
    {
        <div class="card mb-3 border-0">
            @Html.Raw(Model.SiteSetting.SideBannerCode1)
        </div>
    }

    @if (Model.SiteSetting.SideBannerImage2 != null)
    {
        <div class="card mb-3 border-0">
            <img src="~/SettingImages/@Model.SiteSetting.SideBannerImage2" style="width:350px;" class="img-fluid" alt="">
        </div>
    }
    @if (Model.SiteSetting.SideBannerCode2 != null)
    {
        <div class="card mb-3 border-0">
            @Html.Raw(Model.SiteSetting.SideBannerCode2)
        </div>
    }
</div>


<!--for Responsive-->
<div class="col-12 d-lg-none">
    <div class="card mb-3">
        <a class="weatherwidget-io" href="https://forecast7.com/bg/42d0223d09/blagoevgrad/" data-label_1="Благоевград" data-label_2="България" data-icons="Climacons Animated" data-days="5" data-theme="pure">Благоевград България</a>
        <script>
            !function (d, s, id) { var js, fjs = d.getElementsByTagName(s)[0]; if (!d.getElementById(id)) { js = d.createElement(s); js.id = id; js.src = 'https://weatherwidget.io/js/widget.min.js'; fjs.parentNode.insertBefore(js, fjs); } }(document, 'script', 'weatherwidget-io-js');
        </script>
    </div>

    <div class="card border-0 side-card1 mb-3" id="teams2" style="font-size:.7rem;">
        <div class="card-body p-2">
            <div class="d-flex flex-column flex-lg-row justify-content-between align-items-center side-card">
                <div class="mb-2 mb-lg-0">
                    @foreach (var item in Model.leagues.Take(3))
                    {
                        <small>
                            <a onclick="ShowLeagu2(@item.Id)" class="d-block px-2 py-1 rounded text-white">@item.Name</a>
                        </small>
                    }

                </div>
                <div class="mb-2 mb-lg-0">
                    @foreach (var item in Model.leagues.Skip(3).Take(3))
                    {
                        <small>
                            <a onclick="ShowLeagu2(@item.Id)" class="d-block px-2 py-1 rounded text-white">@item.Name</a>
                        </small>
                    }

                </div>
            </div>
            <ul class="nav pr-0 side-nav text-center mt-4">
                <li class="nav-item flex-grow-1">
                    <a href="#tab6" data-toggle="tab" class="nav-link btn-secondary rounded active">Класиране</a>
                </li>
                <li class="nav-item flex-grow-1 mx-2">
                    <a href="#tab7" data-toggle="tab" class="nav-link btn-secondary rounded">Програма</a>
                </li>
                <li class="nav-item flex-grow-1">
                    <a href="#tab8" data-toggle="tab" class="nav-link btn-secondary rounded">Резултати</a>
                </li>
            </ul>
        </div>
        <div class="tab-content">
            <div class="tab-pane fade active show" id="tab6">
                <table class="table text-center table-side mt-1">
                    <thead class="bg-white">
                        <tr>
                            <th>#</th>
                            <th>ОТБОР</th>
                            <th class="text-success">СРЕЩИ</th>
                            <th class="text-danger">ТОЧКИ</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.Rankings)
                        {
                            <tr>
                                <th class="text-white">@i</th>
                                <td class="text-white">
                                    <img src="~/TeamLogo/@item.Teames.Logo" style="width:24px;height:24px;" class="img-fluid" alt="">
                                    @item.Teames.Name
                                </td>
                                <td class="text-success">@item.GF</td>
                                <td class="text-danger">@item.GD</td>
                            </tr>
                            i++;
                        }


                    </tbody>
                </table>
                <div class="py-2 pr-1 d-flex justify-content-between align-items-center bg-light">
                    <a></a>
                    @*<a href="#" class="text-dark">
                            <strong>Виж подробно</strong> <i class="fas fa-arrow-right text-success ml-2"></i>
                        </a>*@
                </div>
            </div>
            <div class="tab-pane fade" id="tab7">
                <table class="table text-center table-side mt-1">
                    <tbody>
                        @foreach (var item in Model.Schedules)
                        {
                            <tr>
                                <td class="text-white">
                                    @item.HomeTeams.Name<img src="~/TeamLogo/@item.HomeTeams.Logo"
                                                             class="img-fluid ml-2" style="width:24px;height:24px;" alt="">
                                </td>
                                <td class="text-white">
                                    <small class="bg-success px-2 py-1 rounded">@item.MatchDay.ToString("MM/dd/yyyy")</small>
                                </td>
                                <td class="text-white">
                                    @item.AwayTeams.Name<img src="~/TeamLogo/@item.AwayTeams.Logo"
                                                             class="img-fluid ml-2" style="width:24px;height:24px;" alt="">
                                </td>
                            </tr>
                        }

                    </tbody>
                </table>
                <div class="py-2 pr-1 d-flex justify-content-between align-items-center bg-light">
                    <a></a>
                    @*<a href="#" class="text-dark">
                            <strong>Виж подробно</strong><i class="fas fa-arrow-right text-success ml-2"></i>
                        </a>*@
                </div>
            </div>
            <div class="tab-pane fade" id="tab8">
                <table class="table text-center table-side mt-1">
                    <tbody>
                        @foreach (var item in Model.Results)
                        {
                            <tr>
                                <td class="text-white">
                                    @item.HomeTeams.Name<img src="~/TeamLogo/@item.HomeTeams.Logo"
                                                             class="img-fluid ml-2" style="width:24px;height:24px;" alt="">
                                </td>
                                <td class="text-white">
                                    <small class="bg-danger px-2 py-1 rounded">@item.Team1Goals:@item.Team2Goals</small>
                                </td>
                                <td class="text-white">
                                    @item.AwayTeams.Name<img src="~/TeamLogo/@item.AwayTeams.Logo"
                                                             class="img-fluid ml-2" style="width:24px;height:24px;" alt="">
                                </td>
                            </tr>
                        }

                    </tbody>
                </table>
                <div class="py-2 pr-1 d-flex justify-content-between align-items-center bg-light">
                    <a></a>
                    @*<a href="#" class="text-dark">
                            <strong>Виж подробно</strong><i class="fas fa-arrow-right text-success ml-2"></i>
                        </a>*@
                </div>
            </div>
        </div>
    </div>

    @if (Model.SiteSetting.SideBannerImage1 != null)
    {
        <div class="card mb-3 border-0">
            <img src="~/SettingImages/@Model.SiteSetting.SideBannerImage1" style="width:350px;" class="img-fluid" alt="">
        </div>
    }
    @if (Model.SiteSetting.SideBannerCode1 != null)
    {
        <div class="card mb-3 border-0">
            @Html.Raw(Model.SiteSetting.SideBannerCode1)
        </div>
    }

    @if (Model.SiteSetting.SideBannerImage2 != null)
    {
        <div class="card mb-3 border-0">
            <img src="~/SettingImages/@Model.SiteSetting.SideBannerImage2" style="width:350px;" class="img-fluid" alt="">
        </div>
    }
    @if (Model.SiteSetting.SideBannerCode2 != null)
    {
        <div class="card mb-3 border-0">
            @Html.Raw(Model.SiteSetting.SideBannerCode2)
        </div>
    }
</div>
