﻿@using Blog.DomainClasses
@using Blog.Utilities.String
@model IEnumerable<Blog.DomainClasses.ApplicationUser>
@if (Model.Any())
{
    <li class="nav-header">Authors</li>
    @foreach (var item in Model)
    {
        <li class="nav-item">
            <a class="nav-link" asp-controller="Search" asp-action="Author" asp-route-name="@item.Name.ToUrl()" class="text-primary">
                <i class="nav-icon far fa-user"></i>
                <p>
                    @item.Name
                </p>

            </a>
        </li>
    }
}
