﻿@model Blog.DomainClasses.Post.Post

@{
    ViewData["Title"] = "Details";
}
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>Posts</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li class="breadcrumb-item active">Posts</li>
                    </ol>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>
    <section class="content">
        <div class="container-fluid">
            <div class="card card-primary card-outline">
                <div class="card-body box-profile">
                    <ul class="list-group list-group-unbordered mb-3">
                        <li class="list-group-item">
                            <b>Author Name</b> <a class="float-right"> @Model.Author.Name)</a>
                        </li>
                        <li class="list-group-item">
                            <b>Title</b> <a class="float-right">@Model.Title</a>
                        </li>
                        <li class="list-group-item">
                            <b>Short Desc</b> <a class="float-right">@Model.ShortDesc</a>
                        </li>
                        <li class="list-group-item">
                            <b>Desc</b> <a class="float-right">@Model.Description</a>
                        </li>
                        <li class="list-group-item">
                            <b>Is Publish?</b> <a class="float-right">@Model.IsPublish</a>
                        </li>
                        <li class="list-group-item">
                            <b>CreateDate</b> <a class="float-right">@Model.CreateDate</a>
                        </li>
                        <li class="list-group-item">
                            <b>UpdateDate</b> <a class="float-right">@Model.UpdateDate</a>
                        </li>
                    </ul>
                </div>
                <div>
                    <a class="btn btn-warning" asp-action="Edit" asp-route-id="@Model.PostId">Edit</a>
                    <a class="btn btn-primary" asp-action="Index">Back</a>
                </div>
            </div>
        </div>
    </section>
</div>
