﻿@model Blog.DomainClasses.Post.Post

@{
    ViewData["Title"] = "Edit";
}

<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>Posts</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li class="breadcrumb-item active">Posts</li>
                    </ol>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="card col-12">
                    <div class="row mt-4">
                        <div class="col-12 col-md-12 ">
                            <div class="card card-primary">
                                <div class="card-header">
                                    <h3 class="card-title">Edit</h3>
                                </div>
                                <form asp-action="Edit" method="post" enctype="multipart/form-data">
                                    <div class="card-body">
                                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                        <input type="hidden" asp-for="PostId" />
                                        <input type="hidden" asp-for="CreateDate" />
                                        <input type="hidden" asp-for="ImageName" />
                                        <input type="hidden" asp-for="VisitCount" />
                                        <input type="hidden" asp-for="AuthorId" />
                                        <input type="hidden" asp-for="ShortKey" />
                                        <input type="hidden" asp-for="IsInterView" />
                                        <div class="form-group">
                                            <label asp-for="Title" class="control-label"></label>
                                            <input asp-for="Title" class="form-control" />
                                            <span asp-validation-for="Title" class="text-danger"></span>
                                        </div>
                                        <div class="form-group">
                                            <label asp-for="ShortDesc" class="control-label"></label>
                                            <textarea asp-for="ShortDesc" rows="5" class="form-control"></textarea>
                                            <span asp-validation-for="ShortDesc" class="text-danger"></span>
                                        </div>
                                        <div class="form-group">
                                            <label asp-for="Description" class="control-label"></label>
                                            <textarea asp-for="Description" class="form-control"></textarea>
                                            <span asp-validation-for="Description" class="text-danger"></span>
                                        </div>
                                        <div class="form-group">
                                            <label asp-for="ImageName" class="control-label"></label>
                                            <img src="/PostImages/@Model.ImageName" style="width: 150px;height: 150px" class="img-thumbnail" />
                                            <input type="file" name="imgFile" />
                                            <span asp-validation-for="ImageName" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="card-footer">
                                        <input type="submit" value="Save" class="btn btn-success" />
                                        <a class="btn btn-primary" asp-area="Admin" asp-controller="Posts" asp-action="Index">Back</a>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

@section Scripts {
    <script src="~/ckeditor/ckeditor.js"></script>
    <script src="~/ckeditor/config.js"></script>
    <script src="~/ckeditor/styles.js"></script>
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script language="javascript">
        CKEDITOR.replace('Description');
    </script>
}
