﻿@using Blog.Utilities.Convertor
@using Blog.Utilities.String
@model IEnumerable<Blog.DomainClasses.Post.Post>

@{
    ViewData["Title"] = "Posts";
}
@section Styles{
    <!-- DataTables -->
    <link rel="stylesheet" href="~/AdminAssets/plugins/datatables-bs4/css/dataTables.bootstrap4.css">
}
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>Posts</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li class="breadcrumb-item active">Posts</li>
                    </ol>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                @if (TempData["error"] != null)
                {
                    <div class="alert alert-danger alert-dismissible">
                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                        <h5><i class="icon fas fa-ban"></i> Alert!</h5>
                        @TempData["error"]
                    </div>
                }

                <div class="card col-12">
                    <div class="card-header">
                        <h3 class="card-title">Post List</h3>
                        @if ((bool)ViewBag.isinterView == false)
                        {
                            <a class="btn-sm btn-primary float-right" asp-area="Admin" asp-controller="Posts" asp-action="Create">Create Post</a>

                        }
                        else
                        {
                            <a class="btn-sm btn-primary float-right" asp-area="Admin" asp-controller="Posts" asp-route-isinterView="true" asp-action="Create">Create Post</a>
                        }
                    </div>
                    <div class="card-body">
                        <table id="example1" class="table table-bordered table-striped dataTable" role="grid" aria-describedby="example1_info">
                            <thead>
                                <tr>
                                    <th>
                                        @Html.DisplayNameFor(model => model.ImageName)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Title)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.CreateDate)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.UpdateDate)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.AuthorId)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.IsPublish)
                                    </th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>
                                            <img src="/PostImages/@item.ImageName" class="img-fluid img-thumbnail" style="width: 100px;height: 100px" />
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Title)
                                        </td>
                                        <td>
                                            @item.CreateDate
                                        </td>
                                        <td>
                                            @item.UpdateDate
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Author.Name)
                                        </td>
                                        <td>
                                            @if (item.IsPublish)
                                            {
                                                <span class="text-success">Published</span>
                                            }
                                            else
                                            {
                                                <span class="text-danger">Not Published</span>
                                            }
                                        </td>
                                        <td>
                                            <a class="btn-sm btn-primary" asp-controller="PostCategories" asp-action="Index" asp-route-postId="@item.PostId">Manage Categories</a>
                                            <a class="btn-sm btn-primary" asp-controller="PostTags" asp-action="Index" asp-route-postId="@item.PostId">Manage Tags</a>
                                            <a class="btn-sm btn-warning" asp-action="Edit" asp-route-id="@item.PostId">Edit</a>
                                            <a class="btn-sm btn-info" asp-controller="Post" asp-action="Index" asp-route-id="@item.PostId" asp-route-name="@item.Title.ToUrl()">Detail</a>
                                            @if ((bool)ViewBag.isinterView == false)
                                            {
                                                <a class="btn-sm btn-danger" asp-action="Delete" asp-route-id="@item.PostId">Delete</a>
                                                @if (item.IsPublish)
                                                {
                                                    <a class="btn-sm btn-warning" asp-action="ChangeIsPublishStatus" asp-route-postId="@item.PostId" asp-route-isPublish="false">Not Publish</a>
                                                }
                                                else
                                                {
                                                    <a class="btn-sm btn-warning" asp-action="ChangeIsPublishStatus" asp-route-postId="@item.PostId" asp-route-isPublish="true">Publish</a>
                                                }
                                                @if (item.ShowSlider)
                                                {
                                                    <a class="btn-sm btn-warning" asp-action="ChangeSliderStatus" asp-route-Id="@item.PostId" asp-route-isPublish="false">Dont Show on Top</a>
                                                }
                                                else
                                                {
                                                    <a class="btn-sm btn-warning" asp-action="ChangeSliderStatus" asp-route-Id="@item.PostId" asp-route-isPublish="true">Show On Top</a>
                                                }

                                            }
                                            else
                                            {
                                                <a class="btn-sm btn-danger" asp-action="Delete" asp-route-id="@item.PostId" asp-route-isinterView="true">Delete</a>
                                                @if (item.IsPublish)
                                                {
                                                    <a class="btn-sm btn-warning" asp-action="ChangeIsPublishStatus" asp-route-postId="@item.PostId" asp-route-isinterView="true" asp-route-isPublish="false">Not Publish</a>
                                                }
                                                else
                                                {
                                                    <a class="btn-sm btn-warning" asp-action="ChangeIsPublishStatus" asp-route-postId="@item.PostId" asp-route-isinterView="true" asp-route-isPublish="true">Publish</a>
                                                }
                                                @if (item.ShowSlider)
                                                {
                                                    <a class="btn-sm btn-warning" asp-action="ChangeSliderStatus" asp-route-Id="@item.PostId" asp-route-isinterView="true" asp-route-isPublish="false">Dont Show</a>
                                                }
                                                else
                                                {
                                                    <a class="btn-sm btn-warning" asp-action="ChangeSliderStatus" asp-route-Id="@item.PostId" asp-route-isinterView="true" asp-route-isPublish="true">Show</a>
                                                }
                                            }

                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

    </section>
</div>
@section Scripts{
    <!-- DataTables -->
    <script src="~/AdminAssets/plugins/datatables/jquery.dataTables.js"></script>
    <script src="~/AdminAssets/plugins/datatables-bs4/js/dataTables.bootstrap4.js"></script>
    <script>
        $(function () {
            $("#example1").DataTable();
        });
    </script>
}

