﻿@model Blog.DomainClasses.Teames.Teams

@{
    ViewData["Title"] = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>Categories</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li class="breadcrumb-item active">Categories</li>
                    </ol>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>
    <section class="content">
        <div class="container-fluid">
            <div class="card card-primary card-outline">
                <div class="card-body box-profile">
                    <div class="text-center">
                        <img class="profile-user-img img-fluid img-circle" src="~/TeamLogo/@Model.Logo" alt="User profile picture">
                    </div>
                    <ul class="list-group list-group-unbordered mb-3">
                        <li class="list-group-item">
                            <b>Name</b> <a class="float-right">@Model.Name</a>
                        </li>
                    </ul>
                    <div>
                        <a asp-action="Edit" asp-route-id="@Model.id" class="btn btn-success btn-block">Edit</a>
                        <a asp-action="Index" class="btn btn-primary btn-block">Back to List</a>
                    </div>
                </div>
            </div>

            <!-- /.card-body -->
        </div>
    </section>
</div>