﻿@using System.Collections.Generic
@using System.Linq
@using Blog.DomainClasses
@using Blog.web.Models
@using Microsoft.AspNetCore.Identity
@model LoginViewModel
@inject SignInManager<ApplicationUser> SignInManager
@using Blog.Utilities.Convertor
@using Blog.Utilities.String
@{
    ViewData["Title"] = "ورود";
    Layout = "/Views/Shared/_Layout.cshtml";
}
<div class="row mt-4">
    <div class="col-12 col-md-4 ">
        @await Component.InvokeAsync("ShowCategorySideBar")
    </div>

    <div class="col-12 col-md-8 ">
        <div class="card mb-4 ">
            <div class="card-body text-primary">
                @RenderBody()
            </div>
        </div>
    </div>
</div>
@section Scripts {
    @RenderSection("Scripts", required: false)
}
