﻿@using Blog.DomainClasses
@using Microsoft.AspNetCore.Identity
@using Blog.web.Models

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

<div class="col-12 col-md-2 ">
    @if (User.Identity.IsAuthenticated)
    {
        <div class="card mb-4">
            <div class="card-header">
                 خوش آمدید
            </div>
            <ul class="list-group list-group-flush text-primary p-0">
                <li class="list-group-item">
                    <a asp-area="" asp-controller="Manage" asp-action="Index" class="text-primary">پروفایل</a>
                </li>
                <li class="list-group-item">
                    <a asp-area="Admin" asp-controller="Users" asp-action="Index" class="text-primary">مدیریت کاربران</a>
                </li>
                <li class="list-group-item">
                    <a asp-area="Admin" asp-controller="Posts" asp-action="Index" class="text-primary">مدیریت پست ها</a>
                </li>
                <li class="list-group-item">
                    <a asp-area="Admin" asp-controller="Categories" asp-action="Index" class="text-primary">مدیریت دسته بندی ها</a>
                </li>
                <li class="list-group-item">
                    <a asp-area="Admin" asp-controller="Comments" asp-action="Index" class="text-primary">مدیریت نظرها</a>
                </li>
                <li class="list-group-item">
                    <a asp-area="Admin" asp-controller="Sliders" asp-action="Index" class="text-primary">مدیریت اسلایدر</a>
                </li>
                <li class="list-group-item">
                    <a asp-area="Admin" asp-controller="Options" asp-action="Edit" class="text-primary">مدیریت تنظیمات</a>
                </li>
                <li class="list-group-item">
                    <a asp-controller="Account" asp-action="Logout" class="text-danger">خروج</a>
                </li>
            </ul>
        </div>
    }
    else
    {
        <div class="card mt-4 mb-4">
            <div class="card-header">
                کاربر مهمان خوش آمدید !
            </div>
            <ul class="list-group list-group-flush text-primary p-0">
                <li class="list-group-item">
                    <a asp-controller="Account" asp-action="Login" class="text-danger">ورود به سایت</a>
                </li>

            </ul>
        </div>
    }
</div>
