﻿@model Blog.DomainClasses.Category.Category

@{
    ViewData["Title"] = "Details";
}
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>Categories</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li class="breadcrumb-item active">Categories</li>
                    </ol>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>
    <section class="content">
        <div class="container-fluid">
            <div class="card card-primary card-outline">
                <div class="card-body box-profile">
                    <ul class="list-group list-group-unbordered mb-3">
                        <li class="list-group-item">
                            <b>Name</b> <a class="float-right">@Model.Name</a>
                        </li>
                        <li class="list-group-item">
                            <b>Url</b> <a class="float-right">@Model.NameInUrl</a>
                        </li>
                        <li class="list-group-item">
                            <b>Parent</b> <a class="float-right">@Model.Parent</a>
                        </li>
                    </ul>
                    <a class="btn btn-success btn-block" asp-action="Edit" asp-route-id="@Model.CategoryId">Edit</a>
                    <a class="btn btn-primary btn-block" asp-action="Index">Back</a>
                </div>
                <!-- /.card-body -->
            </div>
        </div>
    </section>
</div>
