﻿@model Blog.DomainClasses.Category.Category

@{
    ViewData["Title"] = "Edit";
}
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>Categories</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li class="breadcrumb-item active">Categories</li>
                    </ol>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="card col-12">
                    <div class="row mt-4">
                        <div class="col-12 col-md-12 ">
                            <div class="card card-primary">
                                <div class="card-header">
                                    <h3 class="card-title">Edit</h3>
                                </div>
                                <form asp-action="Edit" role="form">
                                    <div class="card-body">
                                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                        <input type="hidden" asp-for="CategoryId" />
                                        <div class="form-group">
                                            <label asp-for="Name" class="control-label"></label>
                                            <input asp-for="Name" class="form-control" />
                                            <span asp-validation-for="Name" class="text-danger"></span>
                                        </div>
                                        <div class="form-group">
                                            <label asp-for="NameInUrl" class="control-label"></label>
                                            <input asp-for="NameInUrl" class="form-control" />
                                            <span asp-validation-for="NameInUrl" class="text-danger"></span>
                                        </div>
                                        <div class="form-group">
                                            <label asp-for="ParentId" class="control-label"></label>
                                            <select asp-for="ParentId" class="form-control" asp-items="ViewBag.ParentId">
                                                <option value="0" label="Main Category">Main Category</option>
                                            </select>
                                            <span asp-validation-for="ParentId" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="card-footer">
                                        <input type="submit" value="Save" class="btn btn-success" />
                                        <a class="btn btn-primary" asp-action="Index">Back</a>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
