﻿@using Blog.Utilities.String
@model IEnumerable<Blog.DomainClasses.Post.Post>
<h5 class="pl-2 mb-4">избор на редактора</h5>
@if (Model.Any())
{

    <div class="row d-none d-lg-flex">
        <div class="col-8 col-lg-9 pr-0">
            <div class="tab-content">
                <div class="tab-pane active show fade" id="first">
                    <a asp-area="" asp-controller="Post" asp-action="Index" asp-route-id="@Model.FirstOrDefault().PostId" asp-route-name="@Model.FirstOrDefault().Title.ToUrl()"><img src="~/PostImages/@Model.FirstOrDefault().ImageName" style="min-width:100%; max-height:370px;" class="img-fluid" alt=""></a>
                    <div class="card border-0 bg-light">
                        <div class="card-body pl-1 py-1">
                            <a asp-area="" asp-controller="Post" asp-action="Index" asp-route-id="@Model.FirstOrDefault().PostId" asp-route-name="@Model.FirstOrDefault().Title.ToUrl()" style="color:black;">
                                <p class="mt-2"><strong>@Model.FirstOrDefault().Title</strong></p>
                            </a>
                            <span class="text-muted border-right pr-4">
                                <i class="fas fa-eye"></i>
                                Коментара: @(Model.FirstOrDefault().Comments ==null ? 0 : Model.FirstOrDefault().Comments.Count)
                            </span>
                            <a href="https://www.facebook.com/sharer/sharer.php?u=https://pirinskabundesliga.com/ShowPost/@Model.FirstOrDefault().PostId" class="text-muted ml-4"><i class="fab fa-facebook"></i></a>
                            <a href="https://www.linkedin.com/shareArticle?mini=true&url=@Model.FirstOrDefault().PostId&title=@Model.FirstOrDefault().Title&summary=@Model.FirstOrDefault().ShortDesc" class="text-muted mx-2"><i class="fab fa-linkedin"></i></a>
                            <a href="https://twitter.com/share?ref_src=twsrc%5Etfw" class="text-muted"><i class="fab fa-twitter"></i></a>
                        </div>
                    </div>
                </div>
                @foreach (var item in Model.Skip(1).Take(3))
                {
                    <div class="tab-pane fade" id="id_@item.PostId">
                        <a asp-area="" asp-controller="Post" asp-action="Index" asp-route-id="@item.PostId" asp-route-name="@item.Title.ToUrl()">
                            <img src="~/PostImages/@item.ImageName" style="min-width:100%; max-height:370px;" class="img-fluid" alt="">
                        </a>
                        <div class="card border-0 bg-light">
                            <div class="card-body pl-1 py-1">
                                <a asp-area="" asp-controller="Post" asp-action="Index" asp-route-id="@item.PostId" asp-route-name="@item.Title.ToUrl()" style="color:black;">
                                    <p class="mt-2"><strong>@item.Title</strong></p>
                                </a>
                                <span class="text-muted border-right pr-4">
                                    <i class="fas fa-comment"></i>
                                    Коментара:
                                </span>
                                <a href="https://www.facebook.com/sharer/sharer.php?u=http://pirinskabundesliga.com/ShowPost/@item.PostId" class="text-muted ml-4"><i class="fab fa-facebook"></i></a>
                                <a href="https://www.linkedin.com/shareArticle?mini=true&url=@Model.FirstOrDefault().PostId&title=@Model.FirstOrDefault().Title&summary=@Model.FirstOrDefault().ShortDesc" class="text-muted mx-2"><i class="fab fa-linkedin"></i></a>
                                <a href="https://twitter.com/share?ref_src=twsrc%5Etfw" class="text-muted"><i class="fab fa-twitter"></i></a>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
        <div class="col-4 col-lg-3">
            <ul class="nav pr-0 slider22">
                <li class="nav-item mb-2">
                    <a href="#first" class="nav-link p-0 active" data-toggle="tab">
                        <img src="~/PostImages/@Model.FirstOrDefault().ImageName" class="img-fluid"
                             alt="">
                    </a>
                </li>
                @foreach (var item in Model.Skip(1).Take(3))
                {
                    <li class="nav-item mb-2">
                        <a href="#id_@item.PostId" class="nav-link p-0" data-toggle="tab">
                            <img src="~/PostImages/@item.ImageName" class="img-fluid"
                                 alt=""  style="max-height:105px;width:100%">
                        </a>
                    </li>
                }
            </ul>
        </div>
    </div>
}
@*@if (Model.Any())
    {
        <div id="myCarousel" class="carousel slide mw-100 d-none d-md-block mb-4 " data-ride="carousel">
            <ol class="carousel-indicators">
                @for (int i = 0; i < Model.Count(); i++)
                {
                    <li data-target="#myCarousel" data-slide-to="@i" @if (i == 0) { <text> class="active" </text> }></li>
                }

            </ol>
            <div class="carousel-inner">
                @{
                    int j = 0;
                }
                @foreach (var item in Model)
                {
                    <div @if (j == 0) { <text> class="carousel-item active" </text>  } else { <text> class="carousel-item" </text> }>
                        <img class="img-fluid img-thumbnail mx-auto" style="width: 100%;max-height: 300px" src="/SliderImages/@item.ImageName" alt="@item.Title">
                        <div class="container ">
                            <div class="carousel-caption text-right">
                                <h5 class="text-sm-right">@item.Title</h5>
                                <p><a class="btn btn-sm btn-outline-primary" asp-controller="Slider" asp-action="RedirectToSliderUrl" asp-route-id="@item.SliderId" asp-route-name="@item.Title.ToUrl()" role="button">مشاهده</a></p>
                            </div>
                        </div>
                    </div>
                    {
                        j++;
                    }
                }

            </div>
        </div>
    }*@