﻿@model Blog.DomainClasses.Option.Option

@{
    ViewData["Title"] = "Edit";
}
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>Settings</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li class="breadcrumb-item active">Settings</li>
                    </ol>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="card col-12">
                    <div class="row mt-4">
                        <div class="col-12 col-md-12 ">
                            <div class="card card-primary">
                                <div class="card-header">
                                    <h3 class="card-title">Edit Setting</h3>
                                </div>
                                <form asp-action="Edit" method="post" enctype="multipart/form-data">
                                    <div class="card-body">
                                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                        <input type="hidden" asp-for="Id" />
                                        <div class="form-group">
                                            <div class="custom-control custom-switch">
                                                <input type="checkbox" class="custom-control-input" id="customSwitch1">
                                                <label class="custom-control-label" for="customSwitch1">Choose topBanner Mode</label>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="form-group col-6">
                                                <label for="exampleInputFile">image</label>
                                                <div class="input-group">
                                                    <div class="custom-file">
                                                        <input type="file" class="custom-file-input" name="BannerImage1" id="exampleInputFile1">
                                                        <label class="custom-file-label" for="exampleInputFile1">Choose file</label>

                                                    </div>
                                                    <div class="input-group-append">
                                                        <span class="input-group-text" id="">Upload</span>
                                                    </div>
                                                </div>
                                                <img id="topBannerImg" class="img-fluid rounded mt-1" src="~/SettingImages/@Model.TopBannerImage" height="150" width="150" alt="topBanner image" />

                                            </div>
                                            <div class="form-group col-6">
                                                <label>Code</label>
                                                <textarea asp-for="TopBannerCode" class="form-control" rows="3" placeholder="Enter ..." id="BannerCode1" readonly>@Model.TopBannerCode</textarea>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="custom-control custom-switch">
                                                <input type="checkbox" class="custom-control-input" id="customSwitch2">
                                                <label class="custom-control-label" for="customSwitch2">Choose first SideBanner Mode</label>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="form-group col-6">
                                                <label for="exampleInputFile">image</label>
                                                <div class="input-group">
                                                    <div class="custom-file">
                                                        <input type="file" class="custom-file-input" name="BannerImage2" id="exampleInputFile2">
                                                        <label class="custom-file-label" for="exampleInputFile2">Choose file</label>
                                                    </div>
                                                    <div class="input-group-append">
                                                        <span class="input-group-text" id="">Upload</span>
                                                    </div>
                                                </div>
                                                <img id="SideBannerImg" class="img-fluid rounded mt-1" src="~/SettingImages/@Model.SideBannerImage1" height="150" width="150" alt="SideBanner image" />
                                            </div>
                                            <div class="form-group col-6">
                                                <label>Code</label>
                                                <textarea asp-for="SideBannerCode1" class="form-control" rows="3" placeholder="Enter ..." id="BannerCode2" readonly>@Model.SideBannerCode1</textarea>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="custom-control custom-switch">
                                                <input type="checkbox" class="custom-control-input" id="customSwitch3">
                                                <label class="custom-control-label" for="customSwitch3">Choose Seecond SideBanner Mode</label>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="form-group col-6">
                                                <label for="exampleInputFile">image</label>
                                                <div class="input-group">
                                                    <div class="custom-file">
                                                        <input type="file" class="custom-file-input" name="BannerImage3" id="exampleInputFile3">
                                                        <label class="custom-file-label" for="exampleInputFile">Choose file</label>
                                                    </div>
                                                    <div class="input-group-append">
                                                        <span class="input-group-text" id="">Upload</span>
                                                    </div>
                                                </div>
                                                <img id="SecondSideBannerImg" class="img-fluid rounded mt-1" src="~/SettingImages/@Model.SideBannerImage2" height="150" width="150" alt="SecondSideBanner image" />

                                            </div>
                                            <div class="form-group col-6">
                                                <label>Code</label>
                                                <textarea asp-for="SideBannerCode2" class="form-control" rows="3" placeholder="Enter ..." id="BannerCode3" readonly></textarea>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="custom-control custom-switch">
                                                <input type="checkbox" class="custom-control-input" id="customSwitch4">
                                                <label class="custom-control-label" for="customSwitch4">Choose between Posts Banner Mode</label>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="form-group col-6">
                                                <label for="exampleInputFile">image</label>
                                                <div class="input-group">
                                                    <div class="custom-file">
                                                        <input type="file" class="custom-file-input" name="BannerImage4" id="exampleInputFile4">
                                                        <label class="custom-file-label" for="exampleInputFile">Choose file</label>
                                                    </div>
                                                    <div class="input-group-append">
                                                        <span class="input-group-text" id="">Upload</span>
                                                    </div>
                                                </div>
                                                <img id="BetweenPostsBannerImg" class="img-fluid rounded mt-1" src="~/SettingImages/@Model.BetWeenBannerImage" height="150" width="150" alt="BetweenPostsBanner image" />

                                            </div>
                                            <div class="form-group col-6">
                                                <label>Code</label>
                                                <textarea asp-for="BetWeenBannerCode" class="form-control" rows="3" placeholder="Enter ..." id="BannerCode4" readonly></textarea>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="custom-control custom-switch">
                                                <input type="checkbox" class="custom-control-input" id="customSwitch5">
                                                <label class="custom-control-label" for="customSwitch5">Choose Footer Banner Mode</label>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="form-group col-6">
                                                <label for="exampleInputFile">image</label>
                                                <div class="input-group">
                                                    <div class="custom-file">
                                                        <input type="file" class="custom-file-input" name="BannerImage5" id="exampleInputFile5">
                                                        <label class="custom-file-label" for="exampleInputFile">Choose file</label>
                                                    </div>
                                                    <div class="input-group-append">
                                                        <span class="input-group-text" id="">Upload</span>
                                                    </div>
                                                </div>
                                                <img id="FooterBannerImg" class="img-fluid rounded mt-1" src="~/SettingImages/@Model.FooterBannerImage" height="150" width="150" alt="FooterBanner image" />

                                            </div>
                                            <div class="form-group col-6">
                                                <label>Code</label>
                                                <textarea asp-for="FooterBannerCode" class="form-control" rows="3" placeholder="Enter ..." id="BannerCode5" readonly></textarea>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label asp-for="AboutUs" class="control-label"></label>
                                            <textarea asp-for="AboutUs" class="form-control"></textarea>
                                            <span asp-validation-for="AboutUs" class="text-danger"></span>
                                        </div>
                                        <div class="form-group">
                                            <label asp-for="ContactUs" class="control-label"></label>
                                            <textarea asp-for="ContactUs" class="form-control"></textarea>
                                            <span asp-validation-for="ContactUs" class="text-danger"></span>
                                        </div>
                                        <div class="form-group">
                                            <label asp-for="ItemPerPage" class="control-label"></label>
                                            <input asp-for="ItemPerPage" class="form-control" />
                                            <span asp-validation-for="ItemPerPage" class="text-danger"></span>
                                        </div>
                                        <div class="form-group col-6">
                                            <label>Footer</label>
                                            <textarea asp-for="Footer" class="form-control" rows="3" placeholder="Enter ..." id="BannerCode2">@Model.Footer</textarea>
                                        </div>
                                        <div class="input-group">
                                            <div class="custom-file">
                                                <input type="file" class="custom-file-input" id="exampleInputFile6" name="Logo">
                                                <label class="custom-file-label">Choose Logo</label>
                                            </div>
                                            <div class="input-group-append">
                                                <span class="input-group-text" id="">Upload</span>
                                            </div>
                                        </div>
                                        <img id="LogoImg" class="img-fluid rounded mt-1" src="~/SettingImages/@Model.Logo" height="150" width="150" alt="Logo image" />

                                    </div>
                                    <div class="card-footer">
                                        <input type="submit" value="Save" class="btn btn-success" />
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>
</div>


@section Scripts {
    <script src="~/ckeditor/ckeditor.js"></script>
    <script src="~/ckeditor/config.js"></script>
    <script src="~/ckeditor/styles.js"></script>
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script>
        $('#customSwitch1').on('change', function (event, state) {
            var statusForTextArea = $('#BannerCode1').prop('readonly');
            var statusForUpload = $('#exampleInputFile1').prop('readonly');
            $('#BannerCode1').prop('readonly', !statusForTextArea);
            $('#exampleInputFile1').prop('readonly', !statusForUpload);
            if (!statusForTextArea) {
                $('#BannerCode1').val('');
            }
            if (!statusForUpload) {
                $('#exampleInputFile1').val('');
            }
        });
        $('#customSwitch2').on('change', function (event, state) {
            var statusForTextArea = $('#BannerCode2').prop('readonly');
            var statusForUpload = $('#exampleInputFile2').prop('readonly');
            $('#BannerCode2').prop('readonly', !statusForTextArea);
            $('#exampleInputFile2').prop('readonly', !statusForUpload);
            if (!statusForTextArea) {
                $('#BannerCode2').val('');
            }
            if (!statusForUpload) {
                $('#exampleInputFile2').val('');
            }
        });
        $('#customSwitch3').on('change', function (event, state) {
            var statusForTextArea = $('#BannerCode3').prop('readonly');
            var statusForUpload = $('#exampleInputFile3').prop('readonly');
            $('#BannerCode3').prop('readonly', !statusForTextArea);
            $('#exampleInputFile3').prop('readonly', !statusForUpload);
            if (!statusForTextArea) {
                $('#BannerCode3').val('');
            }
            if (!statusForUpload) {
                $('#exampleInputFile3').val('');
            }
        });
        $('#customSwitch4').on('change', function (event, state) {
            var statusForTextArea = $('#BannerCode4').prop('readonly');
            var statusForUpload = $('#exampleInputFile4').prop('readonly');
            $('#BannerCode4').prop('readonly', !statusForTextArea);
            $('#exampleInputFile4').prop('readonly', !statusForUpload);
            if (!statusForTextArea) {
                $('#BannerCode4').val('');
            }
            if (!statusForUpload) {
                $('#exampleInputFile4').val('');
            }
        });
        $('#customSwitch5').on('change', function (event, state) {
            var statusForTextArea = $('#BannerCode5').prop('readonly');
            var statusForUpload = $('#exampleInputFile5').prop('readonly');
            $('#BannerCode5').prop('readonly', !statusForTextArea);
            $('#exampleInputFile5').prop('readonly', !statusForUpload);
            if (!statusForTextArea) {
                $('#BannerCode5').val('');
            }
            if (!statusForUpload) {
                $('#exampleInputFile5').val('');
            }
        });

        // *******************  On change input files  ****************** //

        $("#exampleInputFile1").change(function () {
            readURL(this, "#topBannerImg");
        });

        $("#exampleInputFile2").change(function () {
            readURL(this, "#SideBannerImg");
        });

        $("#exampleInputFile3").change(function () {
            readURL(this, "#SecondSideBannerImg");
        });

        $("#exampleInputFile4").change(function () {
            readURL(this, "#BetweenPostsBannerImg");
        });

        $("#exampleInputFile5").change(function () {
            readURL(this, "#FooterBannerImg");
        });

        $("#exampleInputFile6").change(function () {
            readURL(this, "#LogoImg");
        });

        // Show preview images on change input files
        function readURL(input, imgTag) {
            if (input.files && input.files[0]) {
                var reader = new FileReader();

                reader.onload = function (e) {
                    $(imgTag).attr('src', e.target.result);
                }

                reader.readAsDataURL(input.files[0]); // convert to base64 string
            }
        }
    </script>
    <script language="javascript">
        CKEDITOR.replace('AboutUs');
        CKEDITOR.replace('ContactUs');
    </script>
}
