﻿@model IEnumerable<Blog.DomainClasses.Category.Category>

    <li class="nav-item has-treeview">
        <a href="#" class="nav-link">
            <i class="nav-icon fas fa-chart-pie"></i>
            <p>
                Categoires
                <i class="right fas fa-angle-left"></i>
            </p>
        </a>
        <ul class="nav nav-treeview">
            @foreach (var item in Model)
            {
                <li class="nav-item">
                    <a class="nav-link" asp-controller="Search" asp-action="Category" asp-route-name="@item.NameInUrl">
                        <i class="far fa-circle nav-icon"></i>
                        <p>@item.Name</p>
                    </a>
                </li>
            }
        </ul>
