﻿@model Blog.DomainClasses.PostCategory.PostCategory

@{
    ViewData["Title"] = "Category Relation";
}

<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>Categories</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li class="breadcrumb-item active">Categories</li>
                    </ol>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="card col-12">
                    <div class="row mt-4">
                        <div class="col-12 col-md-12 ">
                            <div class="card card-primary">
                                <div class="card-header">
                                    <h3 class="card-title">Create</h3>
                                </div>
                                <form asp-action="Create" method="post">
                                    <div class="card-body">
                                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                        <input type="hidden" name="mPostId" value="@ViewBag.postId" />
                                        @if (ViewBag.postId == 0)
                                        {
                                            <div class="form-group">
                                                <label asp-for="PostId" class="control-label"></label>
                                                <select asp-for="PostId" class="form-control" asp-items="ViewBag.Posts"></select>
                                            </div>
                                        }
                                        else
                                        {
                                            <input type="hidden" asp-for="PostId" value="@ViewBag.postId" />
                                        }

                                        <div class="form-group">
                                            <label asp-for="CategoryId" class="control-label"></label>
                                            <select asp-for="CategoryId" class="form-control" asp-items="ViewBag.CategoryId"></select>
                                        </div>
                                    </div>
                                    <div class="card-footer">
                                        <input type="submit" value="Save" class="btn btn-success" />
                                        <a class="btn btn-primary" asp-action="Index" asp-route-postId="@ViewBag.postId">Back</a>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
</section>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
