﻿@model Blog.DomainClasses.PostCategory.PostCategory

@{
    ViewData["Title"] = "Details";
}
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>Categories</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li class="breadcrumb-item active">Categories</li>
                    </ol>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>
    <section class="content">
        <div class="container-fluid">
            <div class="card card-primary card-outline">
                <div class="card-body box-profile">
                    <div class="alert alert-danger alert-dismissible">
                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                        <h5><i class="icon fas fa-ban"></i> Alert!</h5>
                        Are You Sure to delete yhis Item?
                    </div>
                    <ul class="list-group list-group-unbordered mb-3">
                        <li class="list-group-item">
                            <b>Post</b> <a class="float-right">@Model.Post</a>
                        </li>
                        <li class="list-group-item">
                            <b>Description</b> <a class="float-right">@Model.Post.Description</a>
                        </li>
                        <li class="list-group-item">
                            <b>Category</b> <a class="float-right">@Model.Category</a>
                        </li>
                        <li class="list-group-item">
                            <b>Category Name</b> <a class="float-right">@Model.Category.Name</a>
                        </li>
                    </ul>
                    <a class="btn btn-success" asp-action="Edit" asp-route-id="@Model.PostCategoryId" asp-route-postId="@ViewBag.postId">Edit</a>
                    <a class="btn btn-primary" asp-action="Index" asp-route-postId="@ViewBag.postId">Back</a>
                </div>
            </div>
        </div>
    </section>
</div>