﻿@model IEnumerable<Blog.DomainClasses.PostCategory.PostCategory>

@{
    ViewData["Title"] = "Posts categories";
}
@section Styles{
    <!-- DataTables -->
    <link rel="stylesheet" href="~/AdminAssets/plugins/datatables-bs4/css/dataTables.bootstrap4.css">
}
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>Categories</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li class="breadcrumb-item active">Categories</li>
                    </ol>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                @if (TempData["error"] != null)
                {
                    <div class="alert alert-danger alert-dismissible">
                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                        <h5><i class="icon fas fa-ban"></i> Alert!</h5>
                        @TempData["error"]
                    </div>
                }
                <div class="card col-12">
                    <div class="card-header">
                        <h3 class="card-title">Categories List</h3>
                        <a class="btn btn-primary float-right" asp-action="Create" asp-route-postId="@ViewBag.postId">Create New Realtion</a>
                    </div>
                    <div class="card-body">
                        <table id="example1" class="table table-bordered table-striped dataTable" role="grid" aria-describedby="example1_info">
                            <thead>
                                <tr>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Post)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Category)
                                    </th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Post.Title)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Category.Name)
                                        </td>
                                        <td>
                                            <a class="btn btn-warning" asp-action="Edit" asp-route-id="@item.PostCategoryId" asp-route-postId="@ViewBag.postId">Edit</a>
                                            <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.PostCategoryId" asp-route-postId="@ViewBag.postId">Delete</a>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                        @if (ViewBag.postId != 0)
                        {
                            <a asp-controller="Posts" asp-action="Index" class="btn btn-primary">Back To Posts</a>
                        }
                    </div>
                </div>
            </div>

        </div>
    </section>
</div>
@section Scripts{
    <!-- DataTables -->
    <script src="~/AdminAssets/plugins/datatables/jquery.dataTables.js"></script>
    <script src="~/AdminAssets/plugins/datatables-bs4/js/dataTables.bootstrap4.js"></script>
    <script>
        $(function () {
            $("#example1").DataTable();
        });
    </script>
}